

{{#if rawList}}
    {{#each rawList}}

    <tr class="clickable">
        <td><img class="mini-pic-list" src="../../assets/img/dogs/image3.jpeg"> {{name}} </td>
        <td> {{quantity}}</td>
        <td> {{unit}} </td>
        <td> {{cost}} </td>
        <td style="max-width:50px;">
            <form action="/removeFrmProdGrp">
                <button class="btn btn-secondary btn-sm" type="submit">Edit</button>
            </form> 
        </td>
        <td style="max-width:50px;">
            <form action="/removematfromProduct" method="POST">
                <input type="hidden" name="rawID" value="{{this._id}}">
                <input type="hidden" name="productID" value="{{this.productID}}">
                <button class="btn btn-primary btn-sm" type="submit">Remove</button>
            </form>
        </td>
    </tr>

    {{/each}}
{{else}}
    <tr>
        <div style="text-align: center; color:red; font-weight:700;">
            NO RAW MATERIALS YET
        </div> 
    </tr>
{{/if}}