
{{#each plist}}

<tr class="clickable" onclick='window.location="/product/view/{{this._id}}"'>
    <td><img class="mini-pic-list" src="../../assets/img/dogs/image3.jpeg">{{name}}</td>
    <td> {{sku}}</td>
    <td> {{stock}}</td>
    <td>{{sellingprice}}</td>
    <td>{{reorder}}</td>
    <td style="max-width:50px;">
        <form action="/removeFrmProdGrp">
            <button class="btn btn-secondary btn-sm" type="submit">Edit</button>
        </form> 
        </td>
    <td style="max-width:50px;">
        <form action="/deleteProduct" method="POST">
            <input type="hidden" name="productID" value="{{this._id}}">
            <input type="hidden" name="groupID" value="{{this.product_groupID}}">
            <button class="btn btn-primary btn-sm" type="submit">Delete</button>
        </form>
    </td>
</tr>

{{/each}}