{{#each purchaseorder}}
    <tr class="clickable" onclick='window.location="/purchaseorder/view/{{this._id}}"'>
        <td>{{orderDate}}</td>
        <td> {{supplier}}</td>
        <td> {{this._id}}</td>
        <td> {{dueDate}}</td>
        <td>{{total}}</td>
        <td>{{status}}</td>
        </tr>
{{/each}}