

{{#if rawList}}
    {{#each rawList}}

    <tr>
        <td><i>☺</i> {{name}} </td>
        <td> {{quantity}}</td>
        <td> {{unit}} </td>
        <td> {{cost}} </td>
        <td> icon </td>
    </tr>

    {{/each}}
{{else}}
    <tr>
        <div style="text-align: center; color:red; font-weight:700;">
            NO RAW MATERIALS YET
        </div> 
    </tr>
{{/if}}