
{{#each userlist}}

<tr>
    <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg" />{{first_name}} {{last_name}}</td>
    <td>{{usertype}}</td>
    <td>{{branch}}</td>
    <td>{{mobileno}}</td>
    <td>{{email}}</td>
</tr>

{{/each}}