        <script>
                function trytab(){
                    var bufferBO= document.getElementById('checkthis').value;
                    if(bufferBO == 'true'){
                        document.getElementById('create').click();
                    }
                }
                window.onload = trytab;


                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    localStorage.setItem('activeTab', $(e.target).attr('href'));
                });
                var activeTab = localStorage.getItem('activeTab');
                if(activeTab){
                    $('#myTab a[href="' + activeTab + '"]').tab('show');
                }

            </script>
        <div class="container-fluid">

                {{!-- Nav Tabs --}}
                <div class="card">
                    <div class="card-header">

                         <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" id="one" data-toggle="tab" href="#deliverylist">Today's Deliveries</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="two" data-toggle="tab" href="#archive">Archive</a>
                            </li>

                        </ul>
                    </div>
                
                <div class="tab-content">
                    {{!-- DELIVERY LIST --}}
                    <div class="container tab-pane active" id="deliverylist" style="padding-top: 30px;">
                            {{!-- FILTER TABLE --}}
                                <div class="dataTables_filter" id="dataTable_filter"> Status: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter" onkeyup="filter()" placeholder="All"></label>
                                </div>
                            {{!-- END FILTER --}}
                            <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">            
                            <table class="table" id="delTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable(0)">Package Date  <i class="fa fa-sort"></i></th>
                                        <th>Order ID</th>
                                        <th style="text-align: right;">Total Amount </th>
                                        <th onclick="sortTable(3)">Status <i class="fa fa-sort"></i></th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                                <tbody id="deliveryentries">
                                    {{#if_eq utype  "Branch Manager"}}
                                    {{#each mydeliver}}
                                        <tr class="clickable" onclick='window.location="/delivery/view/{{this._id}}"'>
                                            <td>{{deliverydate}}</td>
                                            <td>{{productionID}}</td>
                                            <td style="text-align: right; padding-right: 60px">{{total}}</td>
                                            <td>{{status}}</td>
                                        </tr>
                                    {{/each}}
                                    {{/if_eq}}
                                    {{#if_eq utype  "Admin"}}
                                    {{#each todaydelivery}}
                                        <tr class="clickable" onclick='window.location="/delivery/view/{{this._id}}"'>
                                            <td>{{deliverydate}}</td>
                                            <td>{{productionID}}</td>
                                            <td style="text-align: right;">{{total}}.00</td>
                                            <td>{{status}}</td>
                                        </tr>
                                    {{/each}}
                                    {{/if_eq}}
                                </tbody>
                            </table>
                        </div>
                    </div>
               
                {{!-- END OF DELIVERY LIST --}}
                <div class="container tab-pane fade" id="archive" style="padding-top: 30px;">
                            {{!-- FILTER TABLE --}}
                                <div class="dataTables_filter" id="dataTable_filter"> Status: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter2" onkeyup="filter2()" placeholder="All"></label>
                                </div>
                            {{!-- END FILTER --}}
                            <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">            
                            <table class="table" id="delTable2">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable2(0)">Package Date  <i class="fa fa-sort"></i></th>
                                        <th>Order ID</th>
                                        <th style="text-align: right;">Total Amount </th>
                                        <th onclick="sortTable2(3)">Status <i class="fa fa-sort"></i></th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {{#each delivery}}
                                        <tr class="clickable" onclick='window.location="/delivery/view/{{this._id}}"'>
                                            <td>{{deliverydate}}</td>
                                            <td>{{productionID}}</td>
                                            <td style="text-align: right;">{{total}}.00</td>
                                            <td>{{status}}</td>
                                        </tr>
                                    {{/each}}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                    {{!-- END TAB CONTENT --}}
            </div>
            
        </div>
        <br><br>

        <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("delTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function sortTable2(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("delTable2");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("delTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

        function filter2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter2");
        filter = input.value.toUpperCase();
        table = document.getElementById("delTable2");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }
    </script>