   <script>
       function statuscheck(){
            var x = document.getElementById('showstatus').innerText;
            console.log(x);
            if (x == "Delivered"){
                document.getElementById('showstatus').style.color="green";
                var rm1 = document.getElementById('received');
                rm1.parentNode.removeChild(rm1);
                var rm2 = document.getElementById('update');
                rm2.parentNode.removeChild(rm2);
                $(".nochange").remove();
            }else if (x == "In Transit"){
                document.getElementById('showstatus').style.color="orange";
            }else if (x == "In production"){
                document.getElementById('showstatus').style.color="orange";
                var rm1 = document.getElementById('received');
                rm1.parentNode.removeChild(rm1);
            }else if (x == "Delivered with Quantity Change"){
                document.getElementById('showstatus').style.color="orange";
                var rm1 = document.getElementById('received');
                rm1.parentNode.removeChild(rm1);
                 var rm2 = document.getElementById('update');
                rm2.parentNode.removeChild(rm2);
            }
       }
       window.onload = statuscheck;
   </script>
   <div class="container-fluid">
                <h3 class="text-dark mb-4">  <a href="/delivery" type="button" class="btn btn-secondary btn-sm">Back</a> &nbsp;{{title}}</h3>
                
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-dark mb-1">DELIVERY DETAILED REPORT</h3>
                            </div>
                            <div class="col">
                                <div class="buttonlist" style="float: right;">
                                    <form>
                                    <!--add inventory-->
                                    <input type="hidden" name="productionorderID" value="{{productionorder._id}}">
                                    <input type="hidden" name="deliveryID" value="{{delivery._id}}">
                                    <!--add pullouts inventory-->
                                    <input type="hidden" name="to" value="{{pulloutOrder.TobranchID}}">
                                    <input type="hidden" name="from" value="{{pulloutOrder.FrombranchID}}">
                                    <input type="hidden" name="requestID" value="{{request._id}}">
                                    <input type="hidden" name="pulloutID" value="{{pulloutOrder._id}}"> 
                                    {{#if_eq utype "Branch Manager"}}
                                    {{#if branchorders}}
                                    
                                    <button id="update" class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#updateModal" style="background-color:gray; border: 1px solid gray; ">Quantity Mismatch</button>
                                    <button id="received" class="btn btn-primary btn-sm" type="submit" formaction="/receiveproductionorders" formmethod="POST">Received</button>
                                    {{else}}
                                    <button id="update" class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#updateModal" style="background-color:gray; border: 1px solid gray; ">Quantity Mismatch</button>
                                    <button id="received" class="btn btn-primary btn-sm" type="submit" formaction="/pulloutupdate" formmethod="POST">Received</button>
                                    {{/if}}
                                    {{/if_eq}}
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-body" id="reguser">       
                        <div class="row"> 
                            <div class="col" >
                                <h2 class="regheader">Details</h2>
                                {{#if branchorders}}
                                <p><b>From: </b> Central Branch </p>      
                                {{else}}
                                <p><b>From: </b> {{pulloutOrder.FrombranchID}} </p>          
                                {{/if}}
                                <div class="row"> <!--ROW1-->

                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                {{#if branchorders}}
                                                <p><b>To: </b>{{productionorder.branch}} </p>      
                                                {{else}}
                                                <p><b>To: </b> {{pulloutOrder.TobranchID}} </p>          
                                                {{/if}}    
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                 <div class="row"> <!--ROW2-->
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="">Delivery Address</label>
                                                <p>Delivery Address</p>
                                            </div>
                                        </form>
                                      </div>
                                </div>
        
                            </div>
                            <div class="col" >
                                <h2 class="regheader">{{delivery.type}}</h2>
                                
                                <p><b>Status: </b> <span id="showstatus" style="font-weight: 800;">{{delivery.status}}</span></p>

                                <div class="row"> <!--ROW1-->

                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Order Date</label>
                                                {{#if branchorders}}
                                                <p>{{productionorder.orderDate}}</p>
                                                {{else}}
                                                <p>{{delivery.deliverydate}}</p>
                                                {{/if}}
                                            </div>
                                              <div class="form-group">
                                                
                                                <label>Delivery Date</label>
                                                <p>{{delivery.deliverydate}}</p>
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                 <div class="row"> <!--ROW2-->
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for=""></label>
                                            
                                            </div>
                                        </form>
                                      </div>
                                </div>
        
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive table mt-2" id="regproductlist">
                        <div class="col">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr class="tr-addproducts">
                                        <th>Item</th>
                                        <th style="text-align: right;">Quantity</th>
                                        <th class="nochange" style="text-align: right; padding-right: 90px">Actual Delivered</th>
                                        <th style="text-align: right; padding-right: 60px">Rate</th>
                                        <th style="text-align: right; padding-right: 30px">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if branchorders}}
                                        {{#each branchorders}}
                                            <tr class="clickable" >
                                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png">{{product}}</td>
                                                <td style="text-align: right;"> {{addComma quantity}}</td>
                                                <td class="nochange" style="text-align: right; padding-right: 90px">{{addComma actualDelivered}}</td>
                                                <td style="text-align: right; padding-right: 60px">{{addZeroesComma rate}}</td>
                                                <td style="text-align: right; padding-right: 30px">{{addZeroesComma amount}}</td>
                                            </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr class="clickable" >
                                            <td ><img class="mini-pic-list" src="../../assets/img/icons/box-2.png">{{request.product}}</td>
                                            <td style="text-align: right; padding-right: 60px"> {{addComma request.quantity}}</td>
                                            <td style="text-align: right; padding-right: 60px">0</td>
                                            <td style="text-align: right; padding-right: 60px">{{addZeroesComma request.cost}}</td>
                                            <td style="text-align: right; padding-right: 60px">{{addZeroesComma delivery.total}}</td>
                                        </tr>
                                    {{/if}}
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                            </table>
                            <div class="row">
                                <div class="col" style="margin-left: 20px; margin-top: 10px">
                                    <!--<button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal">Add Item</button>-->
                                </div>
                            </div>

                            <div class="row" style="margin-top: 2rem; justify-content: center; margin-bottom:1rem;">
                                <div class="row" style="margin-top: 2rem; justify-content: center; margin-bottom:1rem;">
                                <div class="total-amt" id="">
                                    <div class="row">
                                        <div class="col" style="text-align: center; min-width:180px;">
                                            <span>TOTAL AMOUNT:</span>
                                        </div>
                                        <div class="col" style="text-align: right;">
                                            <span>Php {{addZeroesComma productionorder.total}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col">
                            <div class="text-md-center dataTables_filter" id="dataTable_filter">
                                <label>
                                    <!--<button class="btn btn-secondary btn-sm" type="submit">Continue Later</button>
                                    <button class="btn btn-primary btn-sm" type="submit">Order</button>-->
                                </label>
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
            </div>
            <br><br>

            <!-- Update Modal -->
    <div id="updateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quantity Mismatch Form</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th>Actual Quantity</th>
                            <th >Rate </th>
                            <th >Total Amount </th>
                        </tr>
                    </thead>
                    
                    <form action="/QMaddinventory" method="POST" id="submitthis">
                    <input type="hidden" name="productionorderID" value="{{productionorder._id}}">
                    <input type="hidden" name="deliveryID" value="{{delivery._id}}">
                    {{#if branchorders}}
                        {{#each branchorders}}
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png">{{product}}</td>
                                <td> {{quantity}}</td>
                                    <td><input type="text" style="width: 75%;" class="actualQty form-control" name="actualQty" value="{{addComma quantity}}"></td>
                                    <input type="hidden" class="QMproduct" name="QMproduct" value="{{product}}">
                                    <input type="hidden" class="QMrate" name="QMrate" value="{{addZeroesComma rate}}">
                                    <input type="hidden" class="QMamount" name="QMamount" value="{{addZeroesComma amount}}">
                                    
                                    
                                <td>{{addZeroesComma rate}}</td>
                                <td>{{addZeroesComma amount}}</td>
                            </tr>
                        {{/each}}
                        </form>
                    {{else}}
                    
                        <tr class="clickable" >
                            <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png">{{request.product}}</td>
                            <td> {{request.quantity}}</td>
                             <td><input type="text" style="width: 75%;" class="actualQty form-control" name="actualQty" value="{{addComma request.quantity}}"></td>
                                    <input type="hidden" class="QMproduct" name="QMproduct" value="{{product}}">
                                    <input type="hidden" class="QMrate" name="QMrate" value="{{addZeroesComma request.cost}}">
                                    <input type="hidden" class="QMamount" name="QMamount" value="{{addZeroesComma delivery.total}}">
                            <td>{{addZeroesComma request.cost}}</td>
                            <td>{{addZeroesComma delivery.total}}</td>
                        </tr>
                    {{/if}}
                    <br>                  
                   
                    <input type="hidden" name="deliveryID" value="{{delivery._id}}">
                    <!--add pullouts inventory-->
                    <input type="hidden" name="to" value="{{pulloutOrder.TobranchID}}">
                    <input type="hidden" name="from" value="{{pulloutOrder.FrombranchID}}">
                    <input type="hidden" name="requestID" value="{{request._id}}">
                    <input type="hidden" name="pulloutID" value="{{pulloutOrder._id}}"> 
                    </tbody>

                    <tfoot>
                    </tfoot>

                  

                </table>
                <br>
                  {{!-- <center><button class="btn btn-primary btn-sm" type="submit">Update</button></center>
                </form> --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-sm" type="button" onclick='submitall()'>Received</button>
                <script>
                      function submitall(){
                        $('#submitthis').submit();
                      }
                </script>            
            </div>
            </div>
        </div>
    </div>   