            <script>
                function checkCount(){
                    var x = document.getElementsByClassName('middayActual');
                    var y = document.getElementsByClassName('boton');
                    var z = document.getElementsByClassName('enddayActual');
                    var w = document.getElementsByClassName('boton2');
                    var save = document.getElementsByClassName('save');
                    for(var i = 0; i < x.length ; i++){
                        
                        var check2 = z[i].value;
                        if(check2==0){
                            w[i].disabled=false;
                            w[i].classList.add("form-control");
                        }else{
                            w[i].classList.add("form-control");
                        }

                        var check = x[i].value;
                        if(check==0){
                            y[i].disabled = false;
                            y[i].classList.add("form-control");
                            w[i].disabled =true;
                        }else{
                            y[i].classList.add("form-control");
                            w[i].classList.add("form-control")
                        }
                    }
                    var branch = document.getElementById('whichbranch').value;
                    var select = document.getElementById('branch');
                    var option;
                    var i;
                    for(i = 0; i< select.options.length ; i++){
                        option = select.options[i];
                        if(option.value == branch){
                            option.setAttribute('selected',true);
                        }
                    }

                    var user = document.getElementById('usertype').value;

                    if(user == "Branch Manager"){
                        document.getElementById('prev').parentNode.removeChild(document.getElementById('prev'))
                        document.getElementById('next').parentNode.removeChild(document.getElementById('next'))
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                    }
                }
                window.onload = checkCount;
            </script>
            <input type="hidden" id="whichbranch" value="{{whichbranch}}">
            <input type="hidden" id="usertype" value="{{usertype}}">
            <input type="hidden" id="usertype" value="{{usertype}}">
            <div class="container-fluid">
                <h3 class="text-dark mb-1">Inventory</h3>

                {{!-- HEADER --}}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div style="text-align:center" class="col">
                                    <div class="form-group">
                                        {{!-- BRANCH --}}
                                        <label for="branch">Branch</label>
                                        <form action="/filterbranch" method="POST">
                                            <select id="branch" name="branch" class="form-control" onchange="this.form.submit()">
                                                <option value="Branch A">Branch A</option>
                                                <option value="Branch B">Branch B</option>
                                                <option value="Branch C">Branch C</option>
                                            </select><br>
                                        </form>
                                    </div>
                            </div>

                            <div style="text-align:center" class="col">
                                <form>
                                    <h4 >{{today}}</h4>
                                    <input type="hidden" name="currdate" value="{{today}}">
                                    <button id="prev" class="btn btn-primary btn-sm" formaction="/prevday" formmethod="POST" type="submit"><i class="fas fa-arrow-left"></i> Previous</button>
                                    <button id="next" class="btn btn-primary btn-sm" formaction="/nextday" formmethod="POST" type="submit">Next Day <i class="fas fa-arrow-right"></i></button>
                                </form>
                                
                            </div>

                            <div style="text-align:center" class="col">
                                <div class="form-group">
                                        {{!-- BRANCH --}}
                                        <label for="a">Date</label>
                                            <select id="a" name="a" class="form-control">
                                                <option value="">date1</option>
                                                <option value="">date2</option>
                                                <option value="">date3</option>
                                            </select><br>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="tab-content">

                    <div style="padding: 10px;">
                    {{!-- PRODUCT/PROD GROUP --}}
                    <label for="asd">Product Group </label>
                    <select id="gas" name="bgasdranch" class="">
                        <option value="">All</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                    </select><br>
                    </div>

                    {{!-- ALL INVENTORY --}}
                    <div class="container tab-pane active" id="product_group" style="padding-top: 30px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>Name  <i class="fa fa-sort"></i></th>
                                        <th>Start Day Stock  <i class="fa fa-sort"></i></th>
                                        <th>Restock Quantity  <i class="fa fa-sort"></i></th>
                                        <th>Initial Stock  <i class="fa fa-sort"></i></th>
                                        <th>Mid Day Count  <i class="fa fa-sort"></i></th>
                                        <th>Mid Day Sales  <i class="fa fa-sort"></i></th>
                                        <th>Additional Restock  <i class="fa fa-sort"></i></th>
                                        <th>Pullout  <i class="fa fa-sort"></i></th>
                                        <th>Changed Stock  <i class="fa fa-sort"></i></th>
                                        <th>End Day Count  <i class="fa fa-sort"></i></th>
                                        <th>Returns  <i class="fa fa-sort"></i></th>
                                        <th>Overall Sales  <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each inventory}}
                                    <form action="/midendCountUpdate" method="POST">
                                        <input type="hidden" name="srp" value="{{srp}}">
                                        <tr class="clickable" style="text-align: center;">
                                                <td>{{product}}</td>
                                                <td>{{startInv}}</td>
                                                <td>{{restockQuantity}}</td>
                                                <td>{{restockedInventory}}</td>
                                            <input type="hidden" name="restocked" value="{{restockedInventory}}">
                                            <input type="hidden" class="middayActual" value="{{midDayCount}}">
                                                <td><input type="text" name="midDayCount" class="boton" class="form-control" placeholder="{{midDayCount}}" disabled> </td>
                                                <td>{{midDaySales}}</td>
                                                <td>{{additionalRestock}}</td>
                                                <td>{{pulloutStock}}</td>
                                                <td>{{runningInventory}}</td>
                                            <input type="hidden" name="changedStock" value="{{runningInventory}}">
                                            <input type="hidden" name="middaysale" value="{{midDaySales}}">
                                            <input type="hidden" class="enddayActual" value="{{endDayCount}}">
                                                <td><input type="text" name="endDayCount" class="boton2" class="form-control" placeholder="{{endDayCount}}" disabled></td>
                                                <td>{{returns}}</td>
                                                <td>{{totsales}}</td>
                                            <input type="hidden" name="id" value="{{this._id}}">
                                                <td><button class="btn btn-primary" type="submit" >Save</button></td>
                                        </tr>
                                    </form>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{!-- END OF ALL INVENTORY --}}
               </div> 
               {{!-- END TAB CONTENT --}} 

            </div>
            
        </div>
    