            <script>
                function checkCount(){
                    var x = document.getElementsByClassName('middaybasis');//midDaySales
                    var y = document.getElementsByClassName('boton');
                    var z = document.getElementsByClassName('enddaybasis');//totsales
                    var z2 = document.getElementsByClassName('enddaybasis2');//midDaySales
                    var w = document.getElementsByClassName('boton2');
                    var save = document.getElementsByClassName('save');
                    for(var i = 0; i < x.length ; i++){
                        
                        var check2 = z[i].value;
                        var check2a = z2[i].value;
                        if(check2==0 && check2a > 0){
                            w[i].disabled=false;
                            w[i].classList.add("form-control");
                        }else{
                            w[i].classList.add("form-control");
                        }
                        var check = x[i].value;
                        if(check ==0){
                            y[i].disabled = false;
                            y[i].classList.add("form-control");
                            //w[i].disabled =true;
                        }else{
                            y[i].classList.add("form-control");
                            w[i].classList.add("form-control")
                        }
                    }
                    var branch = document.getElementById('whichbranch').value;
                    var select = document.getElementById('branch');
                    var option;
                    var i;
                    for(i = 0; i< select.options.length ; i++){
                        option = select.options[i];
                        if(option.value == branch){
                            option.setAttribute('selected',true);
                        }
                    }

                    var user = document.getElementById('usertype').value;

                    if(user == "Branch Manager"){
                        document.getElementById('prev').parentNode.removeChild(document.getElementById('prev'))
                        document.getElementById('next').parentNode.removeChild(document.getElementById('next'))
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                    }

                    if(document.getElementById('realdate').value == document.getElementById('currdate').value){
                        document.getElementById('today').parentNode.removeChild(document.getElementById('today'));
                    }
                }
                window.onload = checkCount;
            </script>
            <input type="hidden" id="whichbranch" value="{{whichbranch}}">
            <input type="hidden" id="usertype" value="{{usertype}}">
            <input type="hidden" id="usertype" value="{{usertype}}">
            <div class="container-fluid">
                <!--<h3 class="text-dark mb-1">Inventory</h3>-->

                {{!-- HEADER --}}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div style="text-align:center" class="col">
                                    <div class="form-group">
                                        {{!-- BRANCH --}}
                                        <label for="branch">Branch</label>
                                        <form action="/filterbranch" method="POST">
                                            <select id="branch" name="branch" class="form-control" onchange="this.form.submit()">
                                                <option value="Branch A">Branch A</option>
                                                <option value="Branch B">Branch B</option>
                                                <option value="Branch C">Branch C</option>
                                            </select><br>
                                        </form>
                                    </div>
                            </div>

                            <div style="text-align:center" class="col">
                                <form>
                                    <h4 >{{today}}</h4>
                                    <input type="hidden" name="currdate" id="currdate" value="{{today}}">
                                    <input type="hidden" name="realdate" id="realdate" value="{{realtoday}}">
                                    <button id="prev" class="btn btn-primary btn-sm" formaction="/prevday" formmethod="POST" type="submit"><i class="fas fa-arrow-left"></i> Previous</button>
                                    <button id="next" class="btn btn-primary btn-sm" formaction="/nextday" formmethod="POST" type="submit">Next Day <i class="fas fa-arrow-right"></i></button>
                                    <br><br>
                                    <button id="today" class="btn btn-primary btn-sm" formaction="/today" formmethod="POST" type="submit"><i class=""></i> Back to Today ({{realtoday}})</button>
                                </form>
                                
                            </div>

                            <div style="text-align:center" class="col">
                                <div class="dataTables_filter" id="dataTable_filter">
                                        {{!-- Date 
                                        <label for="a">Date</label>
                                            <input type="date" name="thisdate" id="thisdate" class="form-control">--}}
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="tab-content">

                    {{!-- ALL INVENTORY --}}
                    <div class="container tab-pane active" id="product_group" style="padding-top: 30px;">

                        {{!-- FILTER TABLE --}}
                        <div class="dataTables_filter" id="dataTable_filter"> Product: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter" onkeyup="filter()" placeholder="All"></label>
                        </div>
                        {{!-- END OF FILTER TABLE --}}
                        <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">
                            <table class="table" id="invTable">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th onclick="sortTable(0)">Name  <i class="fa fa-sort"></i></th>
                                        <th>Start Day Stock  </th>
                                        <th>Restock Quantity  </th>
                                        <th>Initial Stock  </th>
                                        <th>Mid Day Count  </th>
                                        <th>Mid Day Sales  </th>
                                        <th>Additional Restock  </th>
                                        <th>Pullout  </th>
                                        <th>Changed Stock  </th>
                                        <th>End Day Count </th>
                                        <th>Returns </th>
                                        <th>Overall Sales </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each inventory}}
                                    <form action="/midendCountUpdate" method="POST">
                                        <input type="hidden" name="srp" value="{{srp}}">
                                        <tr class="clickable" style="text-align: center;">
                                                <td>{{product}}</td>
                                                <td>{{startInv}}</td>
                                                <td>{{restockQuantity}}</td>
                                                <td>{{restockedInventory}}</td>
                                            <input type="hidden" name="restocked" value="{{restockedInventory}}">
                                            <input type="hidden" class="middaybasis" value="{{midDaySales}}" >
                                                <td><input type="number" pattern="[0-9]{0}[0-9]+" name="midDayCount" class="boton" class="form-control" placeholder="{{midDayCount}}"  max="{{restockedInventory}}"style="width: 90px;" disabled> </td>
                                                <td>{{midDaySales}}</td>
                                                <td>{{additionalRestock}}</td>
                                                <td>{{pulloutStock}}</td>
                                                <td>{{runningInventory}}</td>
                                            <input type="hidden" name="changedStock" value="{{runningInventory}}">
                                            <input type="hidden" name="middaysale" value="{{midDaySales}}">
                                            <input type="hidden" class="enddaybasis2" value="{{midDaySales}}">
                                            <input type="hidden" class="enddaybasis" value="{{totsales}}">
                                                <td><input type="number"  pattern="[0-9]{0}[0-9]+" name="endDayCount" class="boton2" class="form-control" placeholder="{{endDayCount}}" max="{{runningInventory}}" style="width: 90px;" disabled></td>
                                                <td>{{returns}}</td>
                                                <td>{{totsales}}</td>
                                            <input type="hidden" name="id" value="{{this._id}}">
                                            <input type="hidden" name="thisdate" value="{{inventorydate}}">
                                            <input type="hidden" name="branch" value="{{branch_id}}">
                                            <input type="hidden" name="product" value="{{product}}">
                                            
                                                <td><button class="btn btn-primary" type="submit" >Save</button></td>
                                        </tr>
                                    </form>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{!-- END OF ALL INVENTORY --}}
               </div> 
               {{!-- END TAB CONTENT --}} 

            </div>
            
        </div>

    <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("invTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("invTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

    </script>
    