            <div class="container-fluid">
                <h3 class="text-dark mb-1">Inventory </h3>

                {{!-- Nav Tabs --}}
                <div class="card">
                    <div class="card-header">

                         <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#inventorylist">Inventory List</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#inventoryreport">Inventory Report</a>
                            </li>
                        </ul>
                    </div>
                
                <div class="tab-content">
                    {{!-- Inventory List --}}
                    <div class="container tab-pane active" id="inventorylist" style="padding-top: 30px;">
                        <div class="table-responsive">
                        <label for="branch">Product Group </label>
                            <select id="branch" name="branch" class="">
                                <option value="">All</option>
                                <option value="">Option</option>
                            </select>
                            
                            <div style="padding-bottom: 10px;"> </div>
                            <table class="table" id="invTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable(0)">Name  <i class="fa fa-sort"></i></th>
                                        <th onclick="sortTable(1)">Product Group  <i class="fa fa-sort"></i></th>
                                        <th>Selling Price</th>
                                        <th>Stock</th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable" >
                                        <td>Sample value</td>
                                        <td> Sample value</td>
                                        <td> Sample value</td>
                                        <td>Sample value</td>
                                    </tr>
                                       <tr class="clickable" >
                                        <td>Wample value</td>
                                        <td> Wample value</td>
                                        <td> Wample value</td>
                                        <td>Wample value</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
               
                {{!-- END OF INVENTORY LIST --}}

                 {{!-- Inventory Report --}}
                <div class="container tab-pane fade" id="inventoryreport" style="padding-top: 30px;">
                        <div class="row">
                            <div style="text-align:center" class="col">
                                    <div class="form-group">
                                        {{!-- PGROUP --}}
                                        <label for="branch">Product Group</label>
                                            <select id="branch" name="branch" class="form-control">
                                                <option value="">All</option>
                                                <option value="">Option</option>
                                            </select><br>
                                    </div>
                             </div>

                            <div style="text-align:center" class="col">
                                <h4 >{{today}}</h4>
                                <button class="btn btn-primary btn-sm" type="button"><i class="fas fa-arrow-left"></i> Previous</button>
                                <button class="btn btn-primary btn-sm" type="button">Next Day <i class="fas fa-arrow-right"></i></button>
                            </div>

                            <div style="text-align:center" class="col">
                                <div class="form-group">
                                        {{!-- BRANCH --}}
                                        <label for="branch">Date</label>
                                            <select id="branch" name="branch" class="form-control">
                                                <option value="">date1</option>
                                                <option value="">date2</option>
                                                <option value="">date3</option>
                                            </select><br>
                                </div>
                            </div>
                        </div>
                    <div class="table-responsive">

                            <div style="padding-bottom: 10px;"> </div>
                            <table class="table" id="invTable2">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable2(0)">Name  <i class="fa fa-sort"></i></th>
                                        <th onclick="sortTable2(1)">Product Group  <i class="fa fa-sort"></i></th>
                                        <th>Opening Stock </th>
                                        <th>Quantity In </th>
                                        <th>Quantity Out </th>
                                        <th>Closing Stock </th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable" >
                                        <td>Sample value</td>
                                        <td> Sample value</td>
                                        <td> Sample value</td>
                                        <td>Sample value</td>
                                        <td>Sample value</td>
                                        <td>Sample value</td>
                                    </tr>

                                       </tr>
                                       <tr class="clickable" >
                                        <td>Wample value</td>
                                        <td> Wample value</td>
                                        <td> Wample value</td>
                                        <td>Wample value</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    {{!-- END OF INVENTORY REPORT --}} 

                </div>
                    {{!-- END TAB CONTENT --}}

            </div>
            
        </div>



<!-- Modal (TO BE CHANGED) -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Raw Materials</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th >Unit </th>
                            <th style="width: 10%;"><span> </span></th>
                        </tr>
                    </thead>
            
                    <tbody>
                         {{#each plist}}
                         <form action="/productNewMaterial" method="POST">
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/dogs/image3.jpeg"> {{name}} </td>
                                <td><input required type="text" name="quantity" id="" class="form-control w-60" width="2"></td>
                                <td>
                                    <div class="form-group">
                                        <select id="cars" name="UOM" class="form-control">
                                            <option value="gram/s">gram/s</option>
                                            <option value="tbsp">tbsp</option>
                                            <option value="tsp">tsp</option>
                                        </select>
                                    </div>
                                    
                                </td>
                                <input type="hidden" name="rawMaterialID" value="{{this._id}}">
                                <input type="hidden" name="productID" value="{{../product._id}}">
                                <!-- #each disallows access to product._id-->
                                <input type="hidden" name="name" value="{{name}}">
                                

                                <td style="width: 2%;">
                                    <button class="btn btn-primary btn-sm" type="submit" >Add</button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>


        </div>
    </div>       
    <br><br> 

      <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("invTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function sortTable2(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("invTable2");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

    </script>
