            <script>
                function checkCount(){
                    var x = document.getElementsByClassName('middaybasis');//midDaySales
                    var y = document.getElementsByClassName('boton');
                    var z = document.getElementsByClassName('enddaybasis');//totsales
                    var z2 = document.getElementsByClassName('enddaybasis2');//midDaySales
                    var w = document.getElementsByClassName('boton2');
                    var save = document.getElementsByClassName('save');
                    for(var i = 0; i < x.length ; i++){
                        
                        var check2 = z[i].value;
                        var check2a = z2[i].value;
                        if(check2==0 && check2a > 0){
                            w[i].disabled=false;
                            w[i].classList.add("form-control");
                        }else{
                            w[i].classList.add("form-control");
                        }
                        var check = x[i].value;
                        if(check ==0){
                            y[i].disabled = false;
                            y[i].classList.add("form-control");
                            //w[i].disabled =true;
                        }else{
                            y[i].classList.add("form-control");
                            w[i].classList.add("form-control")
                        }
                    }
                    var branch = document.getElementById('whichbranch').value;
                    var select = document.getElementById('branch');
                    var option;
                    var i;
                    for(i = 0; i< select.options.length ; i++){
                        option = select.options[i];
                        if(option.value == branch){
                            option.setAttribute('selected',true);
                        }
                    }

                    var user = document.getElementById('usertype').value;

                    if(user == "Branch Manager"){
                        document.getElementById('prev').parentNode.removeChild(document.getElementById('prev'))
                        document.getElementById('next').parentNode.removeChild(document.getElementById('next'))
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        document.getElementById('datepicker').disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                    }

                    if(document.getElementById('realdate').value == document.getElementById('currdate').value){
                        document.getElementById('today').parentNode.removeChild(document.getElementById('today'));
                    }
                }
                window.onload = checkCount;
            </script>
            <input type="hidden" id="whichbranch" value="{{whichbranch}}">
            <input type="hidden" id="usertype" value="{{usertype}}">
            <input type="hidden" id="realtoday" value="{{realtoday}}">
            <div class="container-fluid" style="padding-bottom: 50px;">
                <!--<h3 class="text-dark mb-1">Inventory</h3>-->

                {{!-- HEADER --}}
                <div class="card">
                    <div class="card-header" id="bgcolor">
                        <div class="row">
                            <div style="" class="col">
                                <div style="margin-left:4rem;" class="dataTables_filter" id="dataTable_filter2">
                                    {{#if_eq utype "Admin"}}
                                    <label for="branchselect" style="font-weight: 700; width:100%"> Branch: 
                                    <select id="branchselect" name="branchselect" class="form-control" onchange="filterinventory()">
                                        <option value="Branch A">Branch A</option>
                                        <option value="Branch B">Branch B</option>
                                        <option value="Branch C">Branch C</option>
                                    </select></label><br>
                                    {{/if_eq}}
                                    
                                    {{#if_eq utype "Branch Manager"}}
                                        <label for="branch" style="font-weight: 700;">Branch: <select style="width: 100%;" id="branch" name="branch" class="form-control" onchange="this.form.submit()" disabled>
                                            <option value="Branch A">Branch A</option>
                                            <option value="Branch B">Branch B</option>
                                            <option value="Branch C">Branch C</option>
                                        </select></label><br>
                                       
                                    {{/if_eq}}
                                </div>
                                
                            </div>
                            <div id="dataTable_filter2" class="col">
                                {{#if_eq utype "Branch Manager"}}
                                <label style="font-weight: 700;">Date: <input disabled type="date" id="datepicker" class="form-control  today" value="{{realtoday}}" onload="filterinventory()" onchange="filterinventory()" placeholder="All"></label>
                                {{/if_eq}}
                                {{#if_eq utype "Admin"}}
                                <label style="font-weight: 700;">Date: <input type="date" id="datepicker" class="form-control  today" value="{{realtoday}}" onload="filterinventory()" onchange="filterinventory()" placeholder="All"></label>
                                {{/if_eq}}
                            </div>
                             <div style="" class="col">
                                
                            </div>
                             <div style="" class="col">

                            </div>
                            <div style="" class="col">

                            </div>
                        </div>
                        <div class="row" style="text-align: center; " >
                                <h4 style="font-weight: 700;margin:auto;vertical-align:middle;" id="textprint">Inventory Report for</h4>
                        </div>
                        <div class="row" style="text-align: center; " >
                                <h4 style="font-weight: 700;margin:auto;vertical-align:middle;" id="textprint"> <span id="pickedday">{{whichbranch}} {{realtoday}}</span></h4>
                        </div>
                    </div>
                
                <div class="tab-content">

                    {{!-- ALL INVENTORY --}}
                    <div class="container tab-pane active" id="product_group" style="padding-top:30px;">

                        {{!-- FILTER TABLE --}}
                        <div  class="dataTables_filter" id="dataTable_filter2"> Product: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter" onkeyup="filter()" placeholder="All"></label>
                        </div>
                        {{!-- END OF FILTER TABLE --}}

                    {{!-- START PRINT --}}
                    <div class="print">
                        <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">
                            <table class="table" id="invTable">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th class="removeimg"><span></span></th>
                                        <th onclick="sortTable(0)">Name  <i class="fa fa-sort"></i></th>
                                        <th style="text-align: right;">Opening Stock  </th>
                                        <th style="text-align: right;">Production Quantity</th>
                                        <th style="text-align: right;">Quantity In  </th>
                                        <th style="text-align: right;">Quantity Out  </th>
                                        <th style="text-align: right;">Adjustments</th>
                                        <th style="text-align: right;">Realtime Stock  </th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="inventorytable">
                                    
                                    {{#if_eq utype "Admin"}}
                                        {{#each reportinv}}
                                            <input type="hidden" class="invdate" value="{{this.inventorydate}}">
                                            <input type="hidden" class="branchid" value="{{this.branch_id}}">
                                            <input type="hidden" class="product1" value="{{this.product}}">
                                            <input type="hidden" class="startInv" value="{{this.startInv}}">
                                            <input type="hidden" class="restockQuantity" value="{{this.restockQuantity}}">
                                            <input type="hidden" class="additionalRestock" value="{{this.additionalRestock}}">
                                            <input type="hidden" class="pulloutStock" value="{{this.pulloutStock}}">
                                            <input type="hidden" class="returns" value="{{this.returns}}">
                                            <input type="hidden" class="restockedInventory" value="{{this.restockedInventory}}">
                                            <input type="hidden" class="totsales" value="{{this.totsales}}">
                                        {{/each}}
                                    {{/if_eq}}
                                    {{#if_eq utype "Branch Manager"}}
                                        {{#each inventory}}
                                        <tr>
                                            <td class="removeimg"><img class=" mini-pic-list" src="../../assets/img/icons/box-2.png"></td>
                                            <td>{{product}}</td>
                                            <td style="text-align: right;">{{startInv}}</td>
                                            <td style="text-align: right;">{{restockQuantity}}</td>
                                            <td style="text-align: right;">{{additionalRestock}}</td>
                                            <td style="text-align: right;">{{pulloutStock}}</td>
                                             <td style="text-align: right;">{{returns}}</td>
                                            <td style="text-align: right;">{{restockedInventory}}</td>
                                        </tr>
                                        {{/each}}
                                    {{/if_eq}}
                                    
                                </tbody>
                                <tfoot id="summary">
                                <tr style="background-color: #F98C40; color: #F98C40">
                                    <th>0</th>
                                    <th id="daysales" style="text-align: right;">0</th>
                                    <th id="dayreturns" style="text-align: right;"><span>0 </span></th>
                                    <th id="daynet" style="text-align: right;"><span>0 </span></th>
                                    <th id="dayperctot" style="text-align: right;"><span> 0</span></th>
                                    <th id="dayretrate" style="text-align: right;"><span>0 </span></th>
                                    <th id="dayretrate" style="text-align: right;"><span>0 </span></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            </table>
                        </div>
                        </div>

                         <br>
                    <center>
                        <div>
                            <button id="received" class="btn btn-primary btn-sm" type="button" onclick="window.print()">Print Report</button>
                        </div>
                    </center>
                    <br>
                    </div>
                    <div id="printthis" style="min-height: 11.5in;max-height: 11.5in;width: 8.5in;height: 11.5in;min-width: 8.5in;max-width: 8.5in; display:none;">
                            
                            <div class="col" style="background:#f98c40;margin-bottom: 15px;padding: 5px;">
                                <div><img class="d-block" src="/assets/img/icons/bakery_logo2.png" style="width: 80px;margin-left: auto;margin-right: auto;">
                                    <h5 class="text-center" style="margin-bottom: 0px;margin-top: 5px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;font-size: 18px; font-size: 2rem;">LOUELLA BAKERY</h5>
                                    <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif; font-size: 1.5rem;">Daily Inventory Report <span id="insertbranch">Branch A</span> </h6>
                                    <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;font-size: 1.5rem;"> <span id="insertdate"></span>  </h6>
                                </div>
                            </div>
                            <div class="d-block" style="background:#f98c40;">
                                <h5 style="font-family: Alata, sans-serif;font-size: 16px;font-weight: normal;padding: 3px;margin-bottom: 2px;color: rgb(255,255,255);">Inventory Report</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead id="insertheader">
                                    {{#if_eq utype "Branch Manager"}}
                                       <tr>
                                        <th class="removeimg"><span></span></th>
                                        <th onclick="sortTable(0)" style="border-style:none;">Name </th>
                                        <th style="text-align: right; border-style:none;">Opening Stock</th>
                                        <th style="text-align: right;border-style:none;">Production Quantity</th>
                                        <th style="text-align: right;border-style:none;">Transferred</th>
                                        <th style="text-align: right;border-style:none;">Pull Out</th>
                                        <th style="text-align: right;border-style:none;">Adjustments</th>
                                        <th style="text-align: right; border-style:none;">Current Stock</th>
                                    </tr>
                                    {{/if_eq}}
                                    </thead>
                                    <tbody id="insertprint">
                                         {{#if_eq utype "Branch Manager"}}
                                        {{#each inventory}}
                                        <tr>
                                            <td class="removeimg"><img class=" mini-pic-list" src="../../assets/img/icons/box-2.png"></td>
                                            <td style="border-style:none;">{{product}}</td>
                                            <td style="text-align: right; border-style:none;">{{startInv}}</td>
                                            <td style="text-align: right; border-style:none;">{{restockQuantity}}</td>
                                            <td style="text-align: right; border-style:none;">{{additionalRestock}}</td>
                                            <td style="text-align: right; border-style:none;">{{pulloutStock}}</td>
                                             <td style="text-align: right; border-style:none;">{{returns}}</td>
                                            <td style="text-align: right; border-style:none;">{{restockedInventory}}</td>
                                        </tr>
                                        {{/each}}
                                    {{/if_eq}}
                                    </tbody>
                                    <tfoot id="summary">
                                        <tr style="background-color: #F98C40; color: #F98C40">
                                            <th>0</th>
                                            <th id="daysales" style="text-align: right;">0</th>
                                            <th id="dayreturns" style="text-align: right;"><span>0 </span></th>
                                            <th id="daynet" style="text-align: right;"><span>0 </span></th>
                                            <th id="dayperctot" style="text-align: right;"><span> 0</span></th>
                                            <th id="dayretrate" style="text-align: right;"><span>0 </span></th>
                                            <th id="dayretrate" style="text-align: right;"><span>0 </span></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!--<div class="d-block" style="background:#f98c40;">
                                <h5 style="font-family: Alata, sans-serif;font-size: 16px;font-weight: normal;padding: 3px;margin-bottom: 2px;color: rgb(255,255,255);"></h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">LO Number</th>
                                            <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Purchase Date</th>
                                            <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Buying Price</th>
                                            <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Quantity</th>
                                            <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="padding: 2px;">
                                            <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/01/2021</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                                        </tr>
                                        <tr style="padding: 2px;">
                                            <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/02/2021</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                                        </tr>
                                        <tr style="padding: 2px;">
                                            <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/03/2021</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                                        </tr>
                                        <tr style="padding: 2px;">
                                            <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/04/2021</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                                            <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                                            <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                                        </tr>
                                        <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;"></tr>
                                    </tbody>
                                    
                                </table>
                            </div>-->
                            <div class="col-xl-4 offset-xl-8" style="padding: 0px;">
                                <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"></div>
                            </div>
                            <div class="footer-clean" style="padding: 0px;">
                                <footer>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col"></div>
                                            <div class="col-sm-4 col-md-3 col-xl-3 item" style="text-align: center;"></div>
                                            <div class="col footer">
                                                <h3 style="text-align: right;font-weight: normal;font-family: Alata, sans-serif;font-size: 14px;">Page 1 of 1</h3>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        <div class="col"></div>
                    </div>
                {{!-- END OF ALL INVENTORY --}}
               </div> 
               {{!-- END TAB CONTENT --}} 

            </div>
    
        </div>
    <script>
        function filterinventory(){
            
            $(".remove").remove(); 
            //document.getElementById("inventorytable").innerHTML = "";
            var datefilter = document.getElementById("datepicker");
            var branchfilter = document.getElementById("branchselect");
            var realtoday = document.getElementById("realtoday");

            var invdate = document.getElementsByClassName("invdate");
            var branchid = document.getElementsByClassName("branchid");
            var product = document.getElementsByClassName("product1");
            var startInv = document.getElementsByClassName("startInv");
            var restockQuantity = document.getElementsByClassName("restockQuantity");
            var additionalRestock = document.getElementsByClassName("additionalRestock");
            var pulloutStock = document.getElementsByClassName("pulloutStock");
            var returns = document.getElementsByClassName("returns");
            var restockedInventory = document.getElementsByClassName("restockedInventory");
            var totsales = document.getElementsByClassName("totsales");
            document.getElementById("insertheader").innerHTML = "<tr><th class='removeimg'><span></span></th><th onclick='sortTable(0)' style='border-style: none;' class='text-left'>Name</th><th style='border-style: none;' class='text-right'>Opening Stock</th><th style='border-style: none;' class='text-right'>Production Quantity</th><th style='border-style: none;' class='text-right'>Transferred</th><th style='border-style: none;' class='text-right'>Pull Out</th><th style='border-style: none;' class='text-right'>Adjustments</th><th style='border-style: none;' class='text-right'>Current Stock</th></tr>"
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            
            if(realtoday.value != datefilter.value){
                var s = new Date(datefilter.value);
                document.getElementById("insertdate").innerHTML = "For "+ months[s.getMonth()] + " " + s.getDate() + " " + s.getFullYear(); 
            }else{
                var s = new Date();
                document.getElementById("insertdate").innerHTML = "As of "+ months[s.getMonth()] + " " + s.getDate() + " " + s.getFullYear() + " <span style='font-weight: 700;'>" + s.getHours() + ":" + s.getMinutes() + "</span>"; 
            }
            document.getElementById("insertbranch").innerHTML = branchfilter.value;
            for(var i = 0; i < product.length; i++){
                if(branchfilter.value == branchid[i].value && datefilter.value == invdate[i].value){
                    document.getElementById("inventorytable").innerHTML +=   "<tr class='remove'><td class='removeimg'><img class="+' mini-pic-list'+" src="+'../../assets/img/icons/box-2.png'+"></td><td>"+product[i].value+"</td><td>"+startInv[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td>"+restockQuantity[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td>"+additionalRestock[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td>"+pulloutStock[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td>"+returns[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td>"+restockedInventory[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td></tr>"
                    document.getElementById("insertprint").innerHTML +=   "<tr class='remove '><td class='removeimg'><img class="+' mini-pic-list'+" src="+'../../assets/img/icons/box-2.png'+"></td><td style='border-style: none;'>"+product[i].value+"</td><td style='border-style: none;' class='text-right'>"+startInv[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td style='border-style: none;' class='text-right'>"+restockQuantity[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td style='border-style: none;' class='text-right'>"+additionalRestock[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td style='border-style: none;' class='text-right'>"+pulloutStock[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td style='border-style: none;' class='text-right'>"+returns[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td><td style='border-style: none;' class='text-right'>"+restockedInventory[i].value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"</td></tr>"
                }
            }
            document.getElementById("pickedday").innerHTML = branchfilter.value +" "+ datefilter.value;
        }
        var user = document.getElementById('usertype').value
        if(user == "Admin"){
            window.onload = filterinventory();
        }
        function initiateDate(){
            console.log("INITIATE");
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var s = new Date();
            document.getElementById("insertdate").innerHTML = "As of "+ months[s.getMonth()] + " " + s.getDate() + " " + s.getFullYear() + " <span style='font-weight: 700;'>" + s.getHours() + ":" + s.getMinutes() + "</span>"; 
            document.getElementById("insertbranch").innerHTML = document.getElementById("whichbranch").value;
        }window.onload = initiateDate();
    </script>

    <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("invTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("invTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

    </script>

<style type="text/css" media="print">
@media print
{
body * { 
    visibility: hidden; 
}
.card * { 
    visibility: visible; 
}

.btn.btn-primary.btn-sm * {
    visibility: hidden;
}
#summary * {
    visibility: visible;
    background: #F98C40 !important; 
    color: #F98C40 !important;
}
#received {
    display: none;
}
#dataTable_filter2 {
    display: none;
}
#bgcolor {
    display: none;
    background-color:#f98c40;
    color: white;
}
#textprint {
    font-size: 3rem;
}
.removeimg{
    display: none;
}
#invTable{
    display: none !important;
}
#printthis {
    display: inline !important;
}
}
</style>

    