            <div class="container-fluid">
                <h3 class="text-dark mb-1">Product Group</h3>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-dark mb-1">Product Group Information</h2>
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-body" id="reguser">       
                        <div class="row">
                            <div class="col" >
                                <h3 class="regheader">Product Information</h3>
                                <div class="row">
                                    
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <p>{{product.name}}</p>
                                                
                                            </div>
                                        </form>
                                    </div>
        
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Product ID</label>
                                                <p>{{product._id}}</p>
                                                
                                                
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <p>{{product.description}}</p>
                                            </div>
                                        </form>
                                      </div>
                                  </div>
        
                                  <div class="row">
                                    <div class="col">
                                      <form action="">
                                          <div class="form-group">
                                            <label>UOM</label>
                                            <p>{{product.UOM}}</p>
                                          </div>
                                      </form>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label>Taxibility</label>
                                                <p>Non-taxable</p>
                                                
                                            </div>
                                        </form>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form class="product-pic">
                                  <div >
                                    <img class="" src="../../assets/img/dogs/image2.jpeg" id="product-pic" />
                                    
                                  </div> 
                                </form>
                            </div>
                        </div>
                        
                        <div class="table-responsive table mt-2" id="productlist">
                            <div class="col">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr class="tr-addproducts">
                                            <th>Raw Materials </th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            <th>Cost</th>
                                            
                                            <th><span>  </span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td><i>☺</i> {{rawList.name}} </td>
                                            <td> {{rawList.Quantity}}</td>
                                            <td> {{rawList.Unit}} </td>
                                            <td> {{rawList.cost}} </td>
                                            <td> icon </td>
                                        </tr>

                                        <tr>
                                            <td><i>☺</i> Sugar </td>
                                            <td> 2.0</td>
                                            <td> cups </td>
                                            <td> 2.90 </td>
                                            <td> icon </td>
                                        </tr>

                                        <tr>
                                            <td><i>☺</i> Sugar </td>
                                            <td> 2.0</td>
                                            <td> cups </td>
                                            <td> 2.90 </td>
                                            <td> icon </td>
                                        </tr>
                                        
                                    </tbody>
                                    <tfoot>
                                        
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col">
                                        <label for="" style="margin-left: 20px; margin-top: .5rem;"><i>+icon </i> Add Product</label>
                                    </div>
                                </div>
                            </div>
                            
        
                        </div>
                        
                        
                        
        
                        
                    </div>
                </div>
            </div>

        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
            </div>
        </footer>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>