            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-dark mb-1">{{product.name}}</h2>
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-body" id="reguser">       
                        <div class="row">
                            <div class="col" >
                                <h3 class="regheader">Product Information</h3>
                                <div class="row">
                                    
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <p>{{product.name}}</p>
                                                
                                            </div>
                                        </form>
                                    </div>
        
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Product ID</label>
                                                <p>{{product._id}}</p>
                                                
                                                
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <p>{{product.description}}</p>
                                            </div>
                                        </form>
                                      </div>
                                  </div>
        
                                  <div class="row">
                                    <div class="col">
                                      <form action="">
                                          <div class="form-group">
                                            <label>UOM</label>
                                            <p>{{product.UOM}}</p>
                                          </div>
                                      </form>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label>Taxibility</label>
                                                <p>Non-taxable</p>
                                                
                                            </div>
                                        </form>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form class="product-pic">
                                  <div >
                                    <img class="" src="../../assets/img/dogs/image2.jpeg" id="product-pic" />
                                    
                                  </div> 
                                </form>
                            </div>
                        </div>
                        
                        <div class="table-responsive table mt-2" id="productlist">
                            <div class="col">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr class="tr-addproducts">
                                            <th>Raw Materials </th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            <th>Cost</th>
                                            
                                            <th><span>  </span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{> productRawMaterials}}
                                    </tbody>
                                    <tfoot>
                                        
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col" style="margin-left: 20px; margin-top: 10px">
                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal">Add Raw Material</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <footer class="bg-white sticky-footer">
            
        </footer>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Raw Materials</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th >Unit </th>
                            <th style="width: 10%;"><span> </span></th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <p>{{product._id}} </p>
                        
                        
                         {{#each allMat}}
                         <form action="/productNewMaterial" method="POST">
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/dogs/image3.jpeg"> {{name}} </td>
                                <td><input required type="text" name="quantity" id="" class="form-control w-60" width="2"></td>
                                <td>
                                    <div class="form-group">
                                        <select id="cars" name="UOM" class="form-control">
                                            <option value="gram/s">gram/s</option>
                                            <option value="tbsp">tbsp</option>
                                            <option value="tsp">tsp</option>
                                        </select>
                                    </div>
                                    
                                </td>
                                <input type="hidden" name="rawMaterialID" value="{{this._id}}">
                                <input type="hidden" name="productID" value="{{../product._id}}">
                                <!-- #each disallows access to product._id-->
                                <input type="hidden" name="name" value="{{name}}">
                                

                                <td style="width: 2%;">
                                    <button class="btn btn-primary btn-sm" type="submit" >Add</button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
    </div>