            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3" style="padding-top: 40px;">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/icons/guest.jpg" width="160" height="160">
                                <div class="mb-3">
                                    {{!-- <button class="btn btn-primary btn-sm" type="button">Change Photo</button> --}}
                                </div>
                            </div>
                        </div>
  
                    </div>
                    <div class="col-lg-8">
               
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Details</p>
                                    </div>
                                    <div class="card-body">
                                    {{!-- Start Form --}}
                                    <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="first_name"><strong>First Name</strong></label><input name="first_name"  placeholder="{{fname}}" type="text" class="form-control" disabled/></div>
                                                    <div class="form-group"><label for="last_name"><strong>Last Name</strong></label><input name="last_name"  placeholder="{{lname}}" type="text" class="form-control" disabled/></div>
                                                    <div class="form-group"><label for="email"><strong>Email</strong></label><input class="form-control" type="text" placeholder="{{email}}" name="email" disabled></div>
                                                </div>

                                                <div class="col">
                                                    <div class="form-group"><label for="usertype"><strong>User Type</strong></label><input name="usertype" placeholder="{{utype}}" type="text" class="form-control" disabled/></div>
                                                    <div class="form-group"><label for="branch"><strong>Branch</strong></label><input name="branch" placeholder="{{branch}}" type="text" class="form-control" disabled/></div>
                                                    <div class="form-group"><label for="mobileno"><strong>Mobile Number</strong></label><input class="form-control" type="text" placeholder="{{mnum}}" name="mobileno" disabled></div>
                                                </div>
                                            </div>
                                            {{!-- Saved for future reference (update functionality) --}}
                                            {{!-- <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div> --}}  
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
      