            <div class="container-fluid">

                {{!-- Nav Tabs --}}
                <div class="card">
                    <div class="card-header">

                         <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#pulloutlist">Pull Out List</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#requestlist">Request List</a>
                            </li>
                        </ul>
                    </div>
                
                <div class="tab-content">
                    {{!-- PULLOUT LIST --}}
                   
                    <div class="container tab-pane active" id="pulloutlist" style="padding-top: 30px;">
                        <label style="padding-left: 20px; padding-top: 20px;">Branch Manager</label>
                        <label style="padding-right: 20px; padding-top: 20px; float: right;">PULL OUT LIST</label>
                    <div class="table-responsive table mt-2"> <!--IDK HOW TO MAKE DYNAMIC ROWS OF FORMS WORK FOR DB-->
                        <div class="col" id="contents">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr class="tr-addproducts">
                                       <th>Item  <i class="fa fa-sort"></i></th>
                                        <th style="max-width: ;">From Branch  <i class="fa fa-sort"></i></th>
                                        <th>Cost Price <i class="fa fa-sort"></i></th>
                                        <th>Current Stock <i class="fa fa-sort"></i></th>
                                        <th>Transfer Qty <i class="fa fa-sort"></i></th>
                                        <th><span></span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each reqpullout}}
                                        <tr class="clickable" >
                                            <td>{{product}}</td>
                                            <td>{{from}}</td>
                                            <td>{{cost}}</td>
                                            <td>{{currInv}}</td>
                                            <td>{{quantity}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                            </table>
                            <div class="row">
                                <div class="col" style="margin-left: 20px; margin-top: 10px">
                                    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal2">Add Item</button>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 2rem; justify-content: center;">
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    
               
                {{!-- END OF PULLOUT LIST --}}

                 {{!-- REQUEST LIST --}}
                <div class="container tab-pane fade" id="requestlist" style="padding-top: 30px;">
                        <label style="padding-left: 20px; padding-top: 20px;">Branch Manager</label>
                        <label style="padding-right: 20px; padding-top: 20px; float: right;">REQUEST LIST</label>
                    <div class="table-responsive table mt-2"> <!--IDK HOW TO MAKE DYNAMIC ROWS OF FORMS WORK FOR DB-->
                        <div class="col" id="contents">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr class="tr-addproducts">
                                       <th>Item  <i class="fa fa-sort"></i></th>
                                        <th style="max-width: ;">From Branch  <i class="fa fa-sort"></i></th>
                                        <th>Cost Price <i class="fa fa-sort"></i></th>
                                        <th>Current Stock <i class="fa fa-sort"></i></th>
                                        <th>Request Qty <i class="fa fa-sort"></i></th>
                                        <th><span></span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each reqaddstock}}
                                        <tr class="clickable" >
                                            <td>{{product}}</td>
                                            <td>{{from}}</td>
                                            <td>{{cost}}</td>
                                            <td>{{currInv}}</td>
                                            <td>{{quantity}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                            </table>
                            <div class="row">
                                <div class="col" style="margin-left: 20px; margin-top: 10px">
                                    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal1">Add Item</button>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 2rem; justify-content: center;">
                                
                            </div>
                        </div>
                    </div>

                    </div>
                    {{!-- END OF REQUEST LIST --}} 

                </div>
                 {{!-- END TAB CONTENT --}}

                </div>          

            </div>
            <br><br>



<!-- Modal1 (TO BE CHANGED) -->
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add to Request List</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th >Unit </th>
                            <th style="width: 10%;"><span> </span></th>
                        </tr>
                    </thead>
            
                    <tbody>
                         {{#each inventory}}
                         <form action="/addtoreqlist" method="POST">
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{product}} </td>
                                <td><input required type="number" name="quantity" id="" class="form-control w-60" width="2"></td>
                                <input type="hidden" name="from" value="{{../branch}}">
                                <input type="hidden" name="product" value="{{product}}">
                                <input type="hidden" name="cost" value="{{srp}}">
                                <input type="hidden" name="currInv" value="{{runningInventory}}">
                                <input type="hidden" name="type" value="addstock">
                                <input type="hidden" name="date" value="{{inventorydate}}">
                                <input type="hidden" name="invID" value="{{this._id}}">

                                <td style="width: 2%;">
                                    <button class="btn btn-primary btn-sm" type="submit" >Add</button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>


        </div>
    </div> 

    <!-- Modal 2(TO BE CHANGED) -->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add to Pullout List</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th >Unit </th>
                            <th style="width: 10%;"><span> </span></th>
                        </tr>
                    </thead>
            
                    <tbody>
                         {{#each inventory}}
                         <form action="/addtoreqlist" method="POST">
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{product}} </td>
                                <td><input required type="number" name="quantity" id="" class="form-control w-60" width="2" max="{{runningInventory}}"></td>
                            <input type="hidden" name="from" value="{{../branch}}">
                            <input type="hidden" name="product" value="{{product}}">
                            <input type="hidden" name="cost" value="{{srp}}">
                            <input type="hidden" name="currInv" value="{{runningInventory}}">
                            <input type="hidden" name="type" value="pull-out">
                            <input type="hidden" name="date" value="{{inventorydate}}">
                            <input type="hidden" name="invID" value="{{this._id}}">
                                
                                <td style="width: 2%;">
                                    <button class="btn btn-primary btn-sm" type="submit" >Add</button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>


        </div>
    </div>        
