            <div class="container-fluid">
                <h3 class="text-dark mb-1">Purchase Order</h3>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-dark mb-1">Purchase Order Information</h3>
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-body" id="reguser">       
                        <div class="row"> 
                            <div class="col" >
                                <h2 class="regheader">PURCHASE ORDER</h2>
                                <p><b>PO#</b>{{purchaseorder._id}}</p>      
                                <p><b>Status: </b>{{purchaseorder.status}}</p>

                                <div class="row"> <!--ROW1-->

                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Due Date</label>
                                                <p>{{purchaseorder.dueDate}}</p>

                                                <label>Order Date</label>
                                                <p>{{purchaseorder.orderDate}}</p>
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                 <div class="row"> <!--ROW2-->
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="">Billing Address</label>
                                                <p>{{purchaseorder.shippingaddress}}</p>
                                            </div>
                                        </form>
                                      </div>

                                      <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Supplier Information</label>
                                                <p>[[Company]]</p>
                                                <p>[[Name]]</p>
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive table mt-2" id="regproductlist"> <!--IDK HOW TO MAKE DYNAMIC ROWS OF FORMS WORK FOR DB-->
                        <div class="col">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr class="tr-addproducts">
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>UOM</th>
                                        <th>Rate</th>
                                        <th>Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="td-num-addproducts">1</td>
                                        <td> <select id="cars" name="sku" class="form-control" placeholder="Item"></select></td>
                                        <td> <input type="text" class="form-control" placeholder="Quantity"> </td>
                                        <td> <input type="text" class="form-control" placeholder="UOM"> </td>
                                        <td> <input type="text" class="form-control" placeholder="Rate"> </td>
                                        <td> <input type="text" class="form-control" placeholder="Amount"> </td>                                   
                                    </tr>
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                            </table>
                            <div class="row">
                                <div class="col" style="margin-left: 20px; margin-top: 10px">
                                    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal">Add Item</button>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 2rem; justify-content: center;">
                                <div class="total-amt" id="">
                                    <label style="padding:10px; padding-right: 150px;" >
                                        <span>TOTAL AMOUNT:</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col">
                            <div class="text-md-center dataTables_filter" id="dataTable_filter">
                                <label>
                                    <button class="btn btn-secondary btn-sm" type="submit">Continue Later</button>
                                    <button class="btn btn-primary btn-sm" type="submit">Order</button>
                                </label>
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
            </div>
            
        <!-- Modal TO BE CHANGED-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Modal Header</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr class="tr-addproducts">
                        <th>Name</th>
                        <th>Description</th>
                        <th style="width: 10%;"><span> </span></th>
                        
                    </tr>
                </thead>

                <tbody>
                    {{> chooseproduct}}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>
</div>