        <div class="container-fluid">
            <h3 class="text-dark mb-1">Raw Materials</h3>
            <div class="card">
                <div class="card-header">

                    <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#rawmaterials">All Raw Materials</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#add_rawmaterial">Add Raw Material</a>
                            </li>

                            </ul>

                </div>

                <div class="tab-content">
                    {{!-- ALL RAW MATERIALS --}}
                <div class="container tab-pane active" id="rawmaterials" style="padding-top: 30px;">
                    <div class="table-responsive">
                        <table class="table" id="rawTable">
                            <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Name <i class="fa fa-sort"></i></th>
                                    <th onclick="sortTable(1)">UOM  <i class="fa fa-sort"></i></th>
                                    <th> Stock on Hand</th>
                                    <th> Cost/Unit </th>
                                    <th style="min-width:40px;"><span></span></th>
                                    <th style="min-width:40px;"><span></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each rawList}}
                                    <tr class="clickable">
                                        <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{name}} </td>
                                        <td> {{UOM}}</td>
                                        <td> {{stock}} </td>
                                        <td> {{costperUnit}} </td>
                                        <td style="max-width:40px;">                                            
                                            <form action="/" method="POST">
                                                <input type="hidden" name="productID" value="{{this._id}}">
                                                <button class="btn btn-secondary btn-sm" type="submit">Edit</button>
                                            </form>
                                        </td>
                                        <td style="max-width:40px;">
                                            <form action="/deleteMaterial" method="POST">
                                                <input type="hidden" name="rawID" value="{{this._id}}">
                                                <button class="btn btn-primary btn-sm" type="submit">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{!-- END OF RAW MATERIALS --}}

                {{!-- ADD RAW MATERIALS --}}

                <div class="container tab-pane fade" id="add_rawmaterial" style="padding-top: 30px;">       
                    <div class="row">
                        <div class="col" id="regform2">
                            <h3 class="regheader">Raw Materials</h3>
                            <p id="errormsg" style="color: red;"></p>
                            <form action="/addMaterial" method="POST"> 
                                <div class="row">
                                    <div class="col">
                                        {{!-- Start form --}}
                                            <div class="form-group">
                                                {{!-- Raw Material Name --}}
                                                <label>Name</label>
                                                <input id="rmname" name="name" type="text" class="form-control" minlength="3" maxlength="20" required><br>
                                            </div>
                                    </div>
                                </div>
                                
    
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cars">UOM</label>
                                                <select id="cars" name="UOM" class="form-control">
                                                    <option value="volvo">Sack/s</option>
                                                    <option value="saab">Kilo/s</option>
                                                    <option value="fiat">gram/s</option>
                                                    <option value="audi">uom4</option>
                                                </select><br>
                                        </div>
                                    </div>
                                <div class="col">
                                    <div class="form-group">
                                        <!--<label for="cars">SKU</label>
                                            <select id="cars" name="sku" class="form-control">
                                                <option value="volvo">1</option>
                                                <option value="saab">2</option>
                                                <option value="fiat">3</option>
                                                <option value="audi">4</option>
                                            </select><br>-->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cars">Cost Price per Unit</label>
                                            <input id="rmcost" name="costperUnit" type="number" class="form-control" required><br>
                                        </div>
                                    </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cars" style="padding-bottom: 24px;">Reorder Point</label>
                                        <input name="reorder" type="number" class="form-control" /><br>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                       <!-- <label for="cars">Reorder Point UOM</label>
                                        <select id="cars" name="" class="form-control">
                                                    <option value="volvo">uom1</option>
                                                    <option value="saab">uom2</option>
                                                    <option value="fiat">uom3</option>
                                                    <option value="audi">uom4</option>
                                                </select><br>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="prof-pic-card"> <!--UPLOAD PHOTO-->
                                <div class="up_profpic">
                                    <img class="rounded-circle mb-3 mt-4" src="assets/img/icons/box-2.png" id="prof-pic-cont" />

                                    <div class="mb-3" style="margin-top: 1.5rem;">
                                        <button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                                    </div>
                                </div> 
                        </div>
                    </div>

                    <br>
                    
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col">
                            <div class="text-md-center dataTables_filter" id="dataTable_filter">
                                <label>
                                    <button class="btn btn-secondary btn-sm" type="submit">Cancel</button>
                                    <button class="btn btn-primary btn-sm" type="submit">Add</button>
                                </label>
                            </div>
                        </div>
                    </div> 
                    {{!-- END OF ADD CANCEL --}} 
                </form>

            </div>
            {{!-- END OF ADD PRODUCT --}} 
        </div>
        {{!-- END TAB CONTENT --}} 

    </div>
    <br><br>
    
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">

            function forceKeyPressUppercase(e){
                var charInput = e.keyCode;
                if((charInput >= 97) && (charInput <= 122)) { // lowercase
                if(!e.ctrlKey && !e.metaKey && !e.altKey) { // no modifier key
                var newChar = charInput - 32;
                var start = e.target.selectionStart;
                var end = e.target.selectionEnd;
                e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
                e.target.setSelectionRange(start+1, start+1);
                 e.preventDefault();
                }
                }   
            };
            
           document.getElementById("rmname").addEventListener("keypress", function(e) {
            if(this.selectionStart == 0) {
            // uppercase first letter
            forceKeyPressUppercase(e);
            } else {
            // lowercase other letters
            forceKeyPressLowercase(e);
            }
            }, false);

            document.getElementById("rmcost").addEventListener("keypress", function(e) {
            
                if ((event.which < 45 || event.which > 57)) {
                    event.preventDefault();
                    $('#errormsg').text('Invalid! Only numeric input accepted');
                }
                else{
                    $('#errormsg').text('');
                    }

            });

            $(function() {
                $('#rmname').keydown(function (e) {

                    var key = e.keyCode;
      
                    if (!((key == 8) || (key == 32) || (key >= 65 && key <= 90))) {
                        e.preventDefault();
                         $('#errormsg').text('Invalid! Only character input accepted');
                    }
                    else{
                        $('#errormsg').text('');
                    }
                });
            });

        </script>
        
</div>

    <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("rawTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }
    </script>
