            <script>
                function trytab(){
                    var bufferBO= document.getElementById('checkthis').value;
                    if(bufferBO == 'true'){
                        document.getElementById('create').click();
                    }

                    var utype = document.getElementById('utype').value;
                    
                    if(utype == "Branch Manager"){
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                        if(document.getElementById('prodordcount').value > 0){
                           // document.getElementById('add').disabled = true;
                        }
                        
                    }
                   

                }
                window.onload = trytab;


                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    localStorage.setItem('activeTab', $(e.target).attr('href'));
                });
                var activeTab = localStorage.getItem('activeTab');
                if(activeTab){
                    $('#myTab a[href="' + activeTab + '"]').tab('show');
                }

                    function checkCount(){
                    var x = document.getElementsByClassName('middaybasis');//midDaySales
                    var y = document.getElementsByClassName('boton');
                    var z = document.getElementsByClassName('enddaybasis');//totsales
                    var z2 = document.getElementsByClassName('enddaybasis2');//midDaySales
                    var w = document.getElementsByClassName('boton2');
                    var save = document.getElementsByClassName('save');
                    for(var i = 0; i < x.length ; i++){
                        
                        var check2 = z[i].value;
                        var check2a = z2[i].value;
                        if(check2==0 && check2a > 0){
                            w[i].disabled=false;
                            w[i].classList.add("form-control");
                        }else{
                            w[i].classList.add("form-control");
                        }
                        var check = x[i].value;
                        if(check ==0){
                            y[i].disabled = false;
                            y[i].classList.add("form-control");
                            //w[i].disabled =true;
                        }else{
                            y[i].classList.add("form-control");
                            w[i].classList.add("form-control")
                        }
                    }
                    var branch = document.getElementById('whichbranch').value;
                    var select = document.getElementById('branch');
                    var option;
                    var i;
                    for(i = 0; i< select.options.length ; i++){
                        option = select.options[i];
                        if(option.value == branch){
                            option.setAttribute('selected',true);
                        }
                    }

                    var user = document.getElementById('usertype').value;
                    
                    if(user == "Branch Manager"){
                        document.getElementById('prev').parentNode.removeChild(document.getElementById('prev'))
                        document.getElementById('next').parentNode.removeChild(document.getElementById('next'))
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                    }
                     
                    if(document.getElementById('realdate').value == document.getElementById('currdate').value){
                        document.getElementById('today').parentNode.removeChild(document.getElementById('today'));
                    }
                }
                window.onload = checkCount;

            </script>

            {{!-- <input type="hidden" id="checkthis" name="buffer" value="{{check}}"> --}}
            <input type="hidden" id="utype" name="utype" value="{{utype}}">
            <input type="hidden" id="whichbranch" name="whichbranch" value="{{whichbranch}}">

            <div class="container-fluid" style="padding-bottom: 50px;">

                 <div class="card">

                    <div class="card-header">

                         <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" id="create" data-toggle="tab" href="#pos">Point of Sale</a>
                            </li>

                            <li class="nav-item" >
                            <a class="nav-link" id="history" data-toggle="tab" href="#poshistory" >POS History</a>
                            </li>

                            <li class="nav-item" >
                            <a class="nav-link" id="records" data-toggle="tab" href="#salesrecords" >Sales Records</a>
                            </li>


                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#archived">Archive</a>
                            </li>

                        </ul>

                    </div>

                    {{!-- TAB CONTENT --}}
                    <div class="tab-content">
                    
                    {{!-- POS --}}
                    <div class="container tab-pane active" id="pos" style="padding-top: 30px; max-width:fit-content;">       
                    <div class="row">
                        <div class="col" id="regform2" style="max-width: 490px;">
                            {{!-- <h3 class="regheader">Product</h3>
                            <p id="errormsg" style="color: red;"></p> --}}
                        <form><!--ADDING PRODUCTS// -->

                        <div class="table-responsive table mt-2" id="poslist"> <!--IDK HOW TO MAKE DYNAMIC ROWS OF FORMS WORK FOR DB-->
                        <div class="col" id="contents">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr class="tr-addposproducts">
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th><span></span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="">
                                    {{#each cart}}
                                        {{#if_eq status 'Pending'}}
                                        {{#if_eq cart.branch whichbranch}}
                                        <tr>
                                            <td>{{product}} </td>
                                            <td>{{quantity}} </td>
                                            <td>{{rate}} </td>
                                            <td >{{total}} </td> 
                                            <td style="max-width:50px;">
                                                <input type="hidden" name="totsale" class="totsale" value="{{this.total}}">
                                                <input type="hidden" name="cartID" value="{{this._id}}">
                                                <input type="hidden" name="invID" value="{{this.inventoryID}}">
                                                <input type="hidden" name="cartqua" value="{{this.quantity}}">
                                                 <button class="btn btn-primary btn-sm" formaction="/deletecart" formmethod="POST"  type="submit">X</button>
                                            </td>                          
                                        </tr>
                                        {{/if_eq}}
                                        {{/if_eq}}
                                    {{/each}}
                                    
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                             
                            </table>

                            {{!-- Add button --}}
                            {{!-- <div class="row">
                                <div class="col" style="margin-left: 20px; margin-top: 10px">
                                    <button id="add" class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal">Add Item</button>
                                </div>
                            </div> --}}

                            <div class="row" style="margin-top: 2rem; justify-content: center;">
                                
                            </div>
                        </div>
                    </div>

                    {{!-- RECEIPT --}}
                    <div class="row" style="margin-top: 200px">
                    <div class="col">
                    <div class="jumbotron jumbotron-fluid" id="receipt" style="max-width: 442.7px;">
                    <div class="container">
                        <div class="row">
                         <div class="col">
                             <p>Subtotal</p>
                             <p>Tax</p>
                              <p>Discount</p>
                             <p><b>Total</b> </p>
                             <p style="width: 100px;" >Amount Paid </p>
                              <p><b>Change</b> </p>
                        </div>
                            {{!-- Change to handlebars later --}}
                            <div class="col" style="padding-left: 11.3em;">
                            
                                <p id="subT">0.00</p> 
                                <p id="taxT">0.00</p>
                                <p id="discountT">0.00</p>
                                <p id="totalT"><b>0.00</b> </p>
                                <input id="paidT" type="number" name="paid" class="form-control" style="height: 25px; width: 75px; margin-bottom:10px;" min="1" value="0" onchange="receipt()"> </input>
                                <p id="changeT"><b>0.00</b> </p>

                                <input type="hidden" name="sub" id="subIn">
                                <input type="hidden" name="tax" id="taxIn">
                                <input type="hidden" name="discount" id="discIn">
                                <input type="hidden" name="total" id="totalIn">
                                <input type="hidden" name="change" id="changeIn">
                            <script>
                                function receipt(){
                                    var items = document.getElementsByClassName('totsale');
                                    //alert(items[0].value);W
                                    var subtotal = 0;
                                    for(var i=0; i < items.length; i++){
                                        subtotal = subtotal + parseFloat(items[i].value)
                                    }
                                    //alert(subtotal);
                                    document.getElementById("taxT").innerHTML = parseFloat(subtotal*.12).toFixed(2);
                                    document.getElementById("paidT").min = subtotal ;
                                    
                                    document.getElementById("subT").innerHTML = subtotal - subtotal*.12;
                                    document.getElementById("totalT").innerHTML = subtotal +".00";
                                    var paid = document.getElementById("paidT").value;
                                    document.getElementById("changeT").innerHTML = (parseFloat(paid) - subtotal).toFixed(2);

                                    //initialize inputs for checkout
                                    document.getElementById("subIn").value = subtotal - subtotal*.12;
                                    document.getElementById("taxIn").value = subtotal*.12;
                                    document.getElementById("discIn").value = 0;
                                    document.getElementById("totalIn").value = subtotal +".00";
                                    document.getElementById("changeIn").value = parseFloat(paid) - subtotal;

                                }
                               
                            </script>
                         </div>
                         </div>
           
                    </div>
                    </div>
                    </div>
                    </div>
                    {{!-- END OF RECEIPT --}}
                    
                    {{!-- BUTTONS --}}
                     <div class="row" id="poscheckout" style="justify-content: center; max-width:fit-content;" >
                        <div class="col">

                            <div class="row-lg-12" style="width:500px;">
                                <button class="btn btn-primary btn-lg" formaction="/deleteallcart" formmethod="POST" id="clear" type="submit" style="margin-left: 102px;">Clear</button>
                                <button class="btn btn-primary btn-lg" formaction="/checkout" formmethod="POST" id="checkout" type="submit" style="margin-left: 10px">Checkout</button>
                            </div>
                           <script>
                                function amount(){
                                    var items = document.getElementsByClassName('totsale');
                                    var subtotal = 0;
                                    for(var i=0; i < items.length; i++){
                                        subtotal = subtotal + parseFloat(items[i].value)
                                    }
                                    document.getElementById("paidT").value = subtotal ;

                                    if(subtotal == 0){
                                        document.getElementById("checkout").disabled=true;
                                    }
                                    var utype = document.getElementById('utype').value;
                                    if(utype == "Admin"){
                                        console.log(utype);
                                        document.getElementById("clear").disabled = true;
                                    }
                                    
                                }
                                window.onload = receipt();
                                window.onload = amount();
                           </script>
                               
                        </div>
                     </div>
                     </form>
                     {{!-- END OF BUTTONS --}}
    
                    </div>
                        <div class="col-md-6" id="prof-pic-card" style="margin-top: 20%;"> 

                            
                                <div >
                                    <div class="card">
                                        <label style="padding: 5px; text-align:center; color:black"><h3>Add to Cart</h3></label>
                                        <div class="card-header">
                                            <ul class="nav nav-tabs" role="tablist" style="align-items: center;">
                                                <li class="nav-item">
                                                <a class="nav-link active" id="create" data-toggle="tab" href="#jack">Jack Cakes</a>
                                                </li>

                                                <li class="nav-item" >
                                                <a class="nav-link" id="history" data-toggle="tab" href="#jimmy" >Jimmy Breads</a>
                                                </li>

                                                <li class="nav-item" >
                                                <a class="nav-link" id="records" data-toggle="tab" href="#mong" >Mong Breads</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="container tab-pane active" id="jack" style="padding-top: 30px; max-width:fit-content;"> 

                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        {{#if thisInventory}}
                                                        <tr class="tr-addproducts">
                                                            <th>Name </th>
                                                            <th style="width: 25%;">Quantity </th>
                                                            <th style="width: 10%;">Price </th>
                                                            <th style="width: 10%;">Stock</th>
                                                        </tr>
                                                        {{/if}}
                                                    </thead>

                                                    <tbody>
                                                        <form action="/addcart" method="POST">
                                                        {{#each thisInventory}}
                                                            {{#each ../plist}}
                                                                {{#if_eq this.product_groupID '5f5a4c715612dee4cbb88298'}}
                                                                    {{#if_eq this.name ../this.product }}
                                                                        <tr class="clickable" >
                                                                            <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{this.name}} </td>
                                                                            <td><input type="number"  pattern="[0-9]{0}[0-9]+" name="quantity"  class="quantity form-control w-60" width="2" min="0" max='{{../this.restockedInventory}}'></td>
                                                                            <td>{{this.sellingprice}}</td>
                                                                            <input type="hidden" class="productName" name="product" value="{{this.name}}">
                                                                            <input type="hidden" class="price" name="rate" value="{{this.sellingprice}}">
                                                                            <input type="hidden" name="branch" value='{{../this.branch_id}}' id="">
                                                                            <input type="hidden" name="invID" value="{{../this._id}}">
                                                                            <td style="width: 2%;">
                                                                                <p>{{../this.restockedInventory}}</p>
                                                                            </td>
                                                                        </tr>
                                                                    {{/if_eq}}
                                                                {{/if_eq}}
                                                            {{/each}}
                                                        {{/each}} 
                                                            <td>
                                                                {{#if thisInventory}}
                                                                <button id="jackadd" class="btn btn-primary btn-sm" type="submit" onclick='submitall()'>Add</button>
                                                                {{/if}}
                                                            </td>  
                                                        </form>                                                      
                                                    </tbody>

                                                    <tfoot>
                                                        
                                                    </tfoot>
                                                </table>
                                                
                                            </div>
                                            <div class="container tab-pane fade" id="jimmy" style="padding-top: 30px; max-width:fit-content;"> 
                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        {{#if thisInventory}}
                                                        <tr class="tr-addproducts">
                                                           <th>Name </th>
                                                            <th style="width: 25%;">Quantity </th>
                                                            <th style="width: 10%;">Price </th>
                                                            <th style="width: 10%;">Stock</th>
                                                        </tr>
                                                        {{/if}}
                                                    </thead>

                                                    <tbody>
                                                        <form action="/addcart" method="POST">
                                                        {{#each thisInventory}}
                                                            {{#each ../plist}}
                                                                {{#if_eq this.product_groupID '5f5a4cca5612dee4cbb88299'}}
                                                                    {{#if_eq this.name ../this.product }}
                                                                         <tr class="clickable" >
                                                                            <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{this.name}} </td>
                                                                            <td><input type="number"  pattern="[0-9]{0}[0-9]+" name="quantity"  class="quantity form-control w-60" width="2" max='{{../this.restockedInventory}}'></td>
                                                                            <td>{{this.sellingprice}}</td>
                                                                            <input type="hidden" class="productName" name="product" value="{{this.name}}">
                                                                            <input type="hidden" class="price" name="rate" value="{{this.sellingprice}}">
                                                                            <input type="hidden" name="branch" value='{{../this.branch_id}}' id="">
                                                                            <input type="hidden" name="invID" value="{{../this._id}}">
                                                                            <td style="width: 2%;">
                                                                                <p>{{../this.restockedInventory}}</p>
                                                                            </td>
                                                                        </tr>
                                                                    {{/if_eq}}
                                                                {{/if_eq}}
                                                            {{/each}}
                                                        {{/each}} 

                                                            <td>
                                                                {{#if thisInventory}}
                                                                <button class="btn btn-primary btn-sm" type="submit" onclick='submitall()'>Add</button>
                                                                {{/if}}
                                                            </td> 
                                                        </form>
                                                    </tbody>

                                                    <tfoot>
                                                        
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="container tab-pane fade" id="mong" style="padding-top: 30px; max-width:fit-content;"> 
                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        {{#if thisInventory}}
                                                        <tr class="tr-addproducts">
                                                            <th>Name </th>
                                                            <th style="width: 25%;">Quantity </th>
                                                            <th style="width: 10%;">Price </th>
                                                            <th style="width: 10%;">Stock</th>
                                                        </tr>
                                                        {{/if}}
                                                    </thead>

                                                    <tbody>
                                                        <form action="/addcart" method="POST">
                                                            {{#each thisInventory}}
                                                                {{#each ../plist}}
                                                                    {{#if_eq this.product_groupID '5f5a50e05612dee4cbb8829a'}}
                                                                        {{#if_eq this.name ../this.product }}
                                                                            <tr class="clickable" >
                                                                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{this.name}} </td>
                                                                                <td><input type="number"  pattern="[0-9]{0}[0-9]+" name="quantity"  class="quantity form-control w-60" width="2" max='{{../this.restockedInventory}}'></td>
                                                                                <td>{{this.sellingprice}}</td>
                                                                                <input type="hidden" class="productName" name="product" value="{{this.name}}">
                                                                                <input type="hidden" class="price" name="rate" value="{{this.sellingprice}}">
                                                                                <input type="hidden" name="branch" value='{{../this.branch_id}}' id="">
                                                                                <input type="hidden" name="invID" value="{{../this._id}}">
                                                                                <td style="width: 2%;">
                                                                                    <p>{{../this.restockedInventory}}</p>
                                                                                </td>
                                                                            </tr>
                                                                        {{/if_eq}}
                                                                    {{/if_eq}}
                                                                {{/each}}
                                                            {{/each}} 
                                                            <td>
                                                                {{#if thisInventory}}
                                                            <button class="btn btn-primary btn-sm" type="submit" onclick='submitall()'>Add</button>
                                                            {{/if}}

                                                            </td>
                                                        </form>
                                                    </tbody>

                                                    <tfoot>
                                                        
                                                    </tfoot>
                                                </table>
                                                
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mb-3" style="margin-top: 1.5rem;">
                                       
                                    </div>
                                </div> 
                        </div>

                    </div>

                    <br>
                    
                    <div class="row" style="margin-top: 2rem;">
                     
                    </div> 
                    {{!-- END OF ADD CANCEL --}} 
                </form>

            </div>
            {{!-- END OF POS --}} 

             {{!-- POS HISTORY --}}
                    <div class="container tab-pane fade" id="poshistory" style="padding-top: 30px;">
                        {{!-- FILTER TABLE --}}
                                <div class="dataTables_filter" id="dataTable_filter"> Date: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter" onkeyup="filter()" placeholder="All"></label>
                                </div>
                        {{!-- END FILTER --}}
                            <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">
                            <table class="table" id="posHistoryTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable(0)">Transaction ID <i class="fa fa-sort"></i></th>               
                                        <th onclick="sortTable(1)">Sales <i class="fa fa-sort"></i></th>
                                        <th onclick="sortTable(2)">Staff Name <i class="fa fa-sort"> </i></th>
                                        <th onclick="sortTable(3)">Time of Transaction <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- {{#each todayprodorders}} --}}
                                    {{!-- <tr class="clickable" onclick='window.location="/productionorder/view/{{this._id}}"'> --}}
                                    {{#each salesrecords}}
                                        <tr class="clickable" onclick='window.location="/POSsales/view/{{this._id}}"'>
                                            <td>{{_id}}</td>
                                            <td>{{total}}</td>
                                            <td>{{staffincharge}}</td>
                                            <td>{{date}}</td>
                                        </tr>
                                    {{/each}}
                                    {{!-- {{/each}} --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- END OF ALL PRODUCTION ORDERS --}}

                    {{!-- ARCHIVED --}}
                    <div class="container tab-pane fade" id="archived" style="padding-top: 30px;">
                        {{!-- FILTER TABLE --}}
                                <div class="dataTables_filter" id="dataTable_filter">Date: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter2" onkeyup="filter2()" placeholder="All"></label>
                                </div>
                        {{!-- END FILTER --}}
                            <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">
                            <table class="table" id="archivedPosHistoryTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable2(0)">Transaction ID  <i class="fa fa-sort"></i></th>               
                                        <th onclick="sortTable2(1)">Sales  <i class="fa fa-sort"></i></th>
                                        <th>Staff Name </i></th>
                                        <th onclick="sortTable2(3)">Time of Transaction <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- {{#each productionorders}} --}}
                                    {{!-- <tr class="clickable" onclick='window.location="/productionorder/view/{{this._id}}"'> --}}
                                    <tr class="clickable">
                                        <td>Archived TID</td>
                                        <td>Archived Sales</td>
                                        <td>Archived staff name</td>
                                        <td>Archived Time of Transaction</td>
                                    </tr>
                                    {{!-- {{/each}} --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- END OF ARCHIVED --}}      

                {{!-- SALES RECORDS --}}
                <div class="container tab-pane fade" id="salesrecords" style="padding-top: 30px;">
                         <div class="card-header">
                         <div class="row">

                           {{!-- FILTER TABLE --}}
                               <div style="" class="col">
                                <div class="dataTables_filter" id="dataTable_filter">
                                    {{#if_eq utype "Admin"}}
                                    <label for="branchselect">
                                    <select id="branchselect" name="branchselect" class="form-control" onchange="loadtransAdmin()">
                                        <option value="Aggregate"> Aggregate </option>
                                        <option value="Branch A">Branch A</option>
                                        <option value="Branch B">Branch B</option>
                                        <option value="Branch C">Branch C</option>
                                    </select></label><br>
                                 <label> <input type="date" id="datepicker" class="form-control  today" value="{{realtoday}}" onload="loadtransAdmin()" onchange="loadtransAdmin()" placeholder="All"></label>
                                    {{/if_eq}}
                                    {{#if_eq utype "Branch Manager"}}
                                    Date <label> <input type="date" id="datepicker" class="form-control form-control-sm today" value="{{realtoday}}" onload="loadtrans2()" onchange="loadtrans2()" placeholder="All"></label>

                                    {{/if_eq}}
                                </div>
                                </div>
                               
                        {{!-- END FILTER --}}
                     
                            <!--<div style="text-align:center" class="col">
                                <form>
                                    <h4 >{{today}}</h4>
                                    <input type="hidden" name="currdate" id="currdate" value="{{today}}">
                                    <input type="hidden" name="realdate" id="realdate" value="{{realtoday}}">
                                    <button id="prev" class="btn btn-primary btn-sm" formaction="/prevday" formmethod="POST" type="submit"><i class="fas fa-arrow-left"></i> Previous</button>
                                    <button id="next" class="btn btn-primary btn-sm" formaction="/nextday" formmethod="POST" type="submit">Next Day <i class="fas fa-arrow-right"></i></button>
                                    <br><br>
                                    <button id="today" class="btn btn-primary btn-sm" formaction="/today" formmethod="POST" type="submit"><i class=""></i> Back to Today ({{realtoday}})</button>
                                </form>
                                
                            </div>-->

                            <div style="text-align:center" class="col">
                                <div class="dataTables_filter" id="dataTable_filter">
                                        {{!-- Date 
                                        <label for="a">Date</label>
                                            <input type="date" name="thisdate" id="thisdate" class="form-control">--}}
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="table-responsive">
                        <table class="table" id="srTable">
                            <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Item  <i class="fa fa-sort"></i></th>
                                    <th>Sales</th>
                                     <th>Returns</th>
                                      <th>Net Sales</th>
                                       <th>% of Total</th>
                                        <th>Return Rate</th>
                                </tr>
                            </thead>
                            <tbody id="addRecords">
                                {{!-- {{>productTableDelete}} --}}
                                {{#if_eq utype "Branch Manager"}}
                                {{#each invsales}}
                                    <input type="hidden" class="inventorydate" value="{{this.inventorydate}}" name="" id=""> 
                                    <input type="hidden" name="plist" class="plist" value="{{this.product}}">
                                    <input type="hidden" class="thisreturns" value="{{this.returns}}" name="" id="">
                                    <input type="hidden" class="invsales" value="{{this.totsales}}" name="" id="">
                                {{/each}}
                                {{/if_eq}}
                                {{#each plist}}
                                <input type="hidden" name="plist2" class="plist2" value="{{this.name}}">
                                {{/each}}
                                {{#if_eq utype "Admin"}}
                                {{#each invforAdmin}}
                                    <input type="hidden" class="inventorydate" value="{{this.inventorydate}}" name="" id=""> 
                                    <input type="hidden" name="plist" class="plist" value="{{this.product}}">
                                    <input type="hidden" class="thisreturns" value="{{this.returns}}" name="" id="">
                                    <input type="hidden" class="invsales" value="{{this.totsales}}" name="" id="">
                                    <input type="hidden" class="invbranch" value="{{this.branch_id}}" name="" id="">
                                {{/each}}
                                {{/if_eq}}
                               <input type="hidden" class="realtoday" value="{{realtoday}}" name="" id="">            
                              
                            </tbody>
                            <script>
                                function loadtrans(){
                                    var finalnets = document.getElementsByClassName("net");
                                    var finalpercent = document.getElementsByClassName("percent");
                                    var finalreturnrate = document.getElementsByClassName("returnrate");

                                    var ref = document.getElementsByClassName("plist");
                                    var invsales = document.getElementsByClassName("invsales");
                                    var returns = document.getElementsByClassName("thisreturns");
                                    var invdate = document.getElementsByClassName("inventorydate");
                                    var realday = document.getElementsByClassName("realtoday");
                                    var pickdate = document.getElementById("datepicker").value;
                                    var totalAllProd = 0;
                                    var totalAllreturns= 0;
                                    //realday[0].value
                                    for(var j = 0 ; j < invsales.length ; j++){
                                        if(invdate[j].value == realday[0].value){
                                            totalAllProd = totalAllProd + parseFloat(invsales[j].value);
                                            totalAllreturns = totalAllProd + parseFloat(returns[j].value);
                                        }
                                    }
                                    var daysales =0;
                                    var dayreturns =0;
                                    var daynet =0;
                                    var dayretrate = 0;
                                    for(var i = 0; i < ref.length ; i++){
                                       console.log(ref[i].value); 
                                        if(invdate[i].value == realday[0].value){
                                            var netsalesOut = invsales[i].value - returns[i].value;
                                            var percentotOut= invsales[i].value / totalAllProd * 100;
                                            var returnrateOut = returns[i].value / totalAllreturns *100 ;
                                            var productref =ref[i].value;
                                            var finalreturn = returns[i].value;
                                            var finalsales = invsales[i].value;

                                            daysales = daysales + parseFloat(invsales[i].value);
                                            dayreturns = dayreturns + parseFloat(returns[i].value);
                                            daynet = daynet + parseFloat(netsalesOut);
                                            dayretrate = dayretrate + returns[i].value;

                                            document.getElementById("addRecords").innerHTML += "<tr class='remove'><td>"+productref+"</td><td>"+finalsales+"</td><td>"+finalreturn+"</td><td>"+netsalesOut.toFixed(2)+"</td><td>"+percentotOut.toFixed(2)+"%"+"</td><td>"+returnrateOut.toFixed(2)+"%"+"</td></tr> "
                                        }
                                       
                                    }
                                    dayretrate = (dayretrate/daynet)*100
                                    document.getElementById("daysales").innerHTML = daysales.toFixed(2);
                                    document.getElementById("dayreturns").innerHTML = dayreturns;
                                    document.getElementById("daynet").innerHTML = daynet.toFixed(2);
                                    document.getElementById("dayretrate").innerHTML = dayretrate.toFixed(2) +"%";
                                }
                                var utype = document.getElementById('utype').value;
                                if(utype == "Branch Manager"){
                                    window.onload = loadtrans();
                                }else{
                                    window.onload = loadtransAdmin();
                                }
                                
                                function loadtrans2(){
                                    $(".remove").remove();
                                    var finalnets = document.getElementsByClassName("net");
                                    var finalpercent = document.getElementsByClassName("percent");
                                    var finalreturnrate = document.getElementsByClassName("returnrate");

                                    var ref = document.getElementsByClassName("plist");
                                    var invsales = document.getElementsByClassName("invsales");
                                    var returns = document.getElementsByClassName("thisreturns");
                                    var invdate = document.getElementsByClassName("inventorydate");
                                    var realday = document.getElementsByClassName("realtoday");
                                    var pickdate = document.getElementById("datepicker").value;
                                    var totalAllProd = 0;
                                    var totalAllreturns= 0;
                                    //realday[0].value
                                    for(var j = 0 ; j < invsales.length ; j++){
                                        if(invdate[j].value == pickdate){
                                            totalAllProd = totalAllProd + parseFloat(invsales[j].value);
                                            totalAllreturns = totalAllProd + parseFloat(returns[j].value);
                                        }
                                    }
                                    var daysales =0;
                                    var dayreturns =0;
                                    var daynet =0;
                                     var dayretrate =0;
                                    for(var i = 0; i < ref.length ; i++){
                                        var reference = 
                                       console.log(ref[i].value); 
                                       
                                        if(invdate[i].value == pickdate){
                                            var netsalesOut = invsales[i].value - returns[i].value;
                                            var percentotOut= invsales[i].value / totalAllProd * 100;
                                            var returnrateOut = returns[i].value / invsales[i].value *100 ;
                                            var productref =ref[i].value;
                                            var finalreturn = returns[i].value;
                                            var finalsales = invsales[i].value;
                                            
                                            daysales = daysales + parseFloat(invsales[i].value);
                                            dayreturns = dayreturns + parseFloat(returns[i].value);
                                            daynet = daynet + parseFloat(netsalesOut);
                                            dayretrate = dayretrate + parseFloat(returns[i].value);
                                            document.getElementById("addRecords").innerHTML += "<tr class='remove'><td>"+productref+"</td><td>"+finalsales+"</td><td>"+finalreturn+"</td><td>"+netsalesOut.toFixed(2)+"</td><td>"+percentotOut.toFixed(2)+"%"+"</td><td>"+returnrateOut.toFixed(2)+"%"+"</td></tr> "
                                        }
                                        
                                        //finalnets[i].innerHTML = netsalesOut;
                                        //finalpercent[i].innerHTML = percentotOut.toFixed(2) +"%";
                                        //finalreturnrate[i].innerHTML = returnrateOut.toFixed(2) +"%";
                                    }
                                    dayretrate = (dayretrate/daynet)*100
                                    document.getElementById("daysales").innerHTML = daysales.toFixed(2);
                                    document.getElementById("dayreturns").innerHTML = dayreturns;
                                    document.getElementById("daynet").innerHTML = daynet.toFixed(2);
                                    document.getElementById("dayretrate").innerHTML = dayretrate.toFixed(2);
                                }

                                function loadtransAdmin(){
                                    $(".remove").remove();
                                    var finalnets = document.getElementsByClassName("net");
                                    var finalpercent = document.getElementsByClassName("percent");
                                    var finalreturnrate = document.getElementsByClassName("returnrate");

                                    var ref2 = document.getElementsByClassName("plist2");
                                    var ref = document.getElementsByClassName("plist");
                                    var invsales = document.getElementsByClassName("invsales");
                                    var returns = document.getElementsByClassName("thisreturns");
                                    var invdate = document.getElementsByClassName("inventorydate");
                                    var invbranch = document.getElementsByClassName("invbranch");

                                    var realday = document.getElementsByClassName("realtoday");
                                    var pickdate = document.getElementById("datepicker").value;
                                    var totalAllProd = 0;
                                    var totalAllreturns= 0;
                                    //realday[0].value
                                    for(var j = 0 ; j < invsales.length ; j++){
                                        if(invdate[j].value == pickdate){
                                            totalAllProd = totalAllProd + parseFloat(invsales[j].value);
                                            totalAllreturns = totalAllProd + parseFloat(returns[j].value);
                                        }
                                    }
                                    var daysales =0;
                                    var dayreturns =0;
                                    var daynet =0;
                                    var dayretrate =0;
                                    var branch = document.getElementById("branchselect")
                                    if(branch.value == "Aggregate"){
                                    for(var i = 0; i < ref2.length ; i++){
                                        var reference = ref2[i].value;
                                       console.log(ref2[i].value);
                                       var netsalesOut=0;
                                       var percentotOut = 0;
                                       var returnrateOut = 0;
                                       var productref="";
                                       var finalreturn= 0;
                                       var finalsales = 0;
                                       var prodinvtotal = 0;
                                       for(var k = 0; k < invdate.length ; k++){
                                           if(invdate[k].value == pickdate && reference == ref[k].value){
                                             netsalesOut = netsalesOut + parseFloat(invsales[k].value - returns[k].value) ;
                                             percentotOut= percentotOut + parseFloat(invsales[k].value);
                                             returnrateOut = returnrateOut+ parseFloat(returns[k].value);
                                             prodinvtotal = prodinvtotal + parseFloat(invsales[k].value);
                                             productref = ref[k].value;
                                             finalreturn = finalreturn + parseFloat(returns[k].value);
                                             finalsales = finalsales+ parseFloat(invsales[k].value);
                                            
                                            daysales = daysales + parseFloat(invsales[k].value);
                                            dayreturns = dayreturns + parseFloat(returns[k].value);
                                            daynet = daynet + parseFloat(netsalesOut);
                                            dayretrate = dayretrate + parseFloat(returns[k].value);
                                        }
                                       }
                                        percentotOut = percentotOut/totalAllProd*100;
                                        returnrateOut = returnrateOut/prodinvtotal *100;
                                        document.getElementById("addRecords").innerHTML += "<tr class='remove'><td>"+productref+"</td><td>"+finalsales+"</td><td>"+finalreturn+"</td><td>"+netsalesOut.toFixed(2)+"</td><td>"+percentotOut.toFixed(2)+"%"+"</td><td>"+returnrateOut.toFixed(2)+"%"+"</td></tr> "
                                        
                                    }
                                    dayretrate = (dayretrate/daynet)*100
                                    document.getElementById("daysales").innerHTML = daysales.toFixed(2);
                                    document.getElementById("dayreturns").innerHTML = dayreturns;
                                    document.getElementById("daynet").innerHTML = daynet.toFixed(2);
                                    document.getElementById("dayretrate").innerHTML = dayretrate.toFixed(2);
                                    }else{
                                        var thistotalAllProd = 0;
                                        var thistotalAllreturns= 0;
                                        //realday[0].value
                                        for(var j = 0 ; j < invsales.length ; j++){
                                            if(invdate[j].value == pickdate && invbranch[j].value == branch.value){
                                                thistotalAllProd = thistotalAllProd + parseFloat(invsales[j].value);
                                                thistotalAllreturns = thistotalAllProd + parseFloat(returns[j].value);
                                            }
                                        }
                                        for(var i =0; i < ref2.length; i++){
                                            var reference = ref2[i].value;
                                            var netsalesOut=0;
                                            var percentotOut = 0;
                                            var returnrateOut = 0;
                                            var productref="";
                                            var finalreturn= 0;
                                            var finalsales = 0;
                                            var prodinvtotal = 0;
                                            
                                            for(var k = 0; k < invdate.length ; k++){
                                                if(invdate[k].value == pickdate && reference == ref[k].value && branch.value == invbranch[k].value){
                                                    netsalesOut = parseFloat(invsales[k].value - returns[k].value) ;
                                                    percentotOut= parseFloat(invsales[k].value);
                                                    returnrateOut = parseFloat(returns[k].value);
                                                    prodinvtotal = parseFloat(invsales[k].value);
                                                    productref = ref[k].value;
                                                    finalreturn = parseFloat(returns[k].value);
                                                    finalsales = parseFloat(invsales[k].value);
                                                    //alert(branch.value +"===="+ invbranch[k].value);
                                                    daysales =daysales +  parseFloat(invsales[k].value);
                                                    dayreturns =dayreturns +  parseFloat(returns[k].value);
                                                    daynet =daynet + parseFloat(netsalesOut);
                                                    dayretrate =dayretrate + parseFloat(returns[k].value);
                                                }
                                            }
                                            percentotOut = percentotOut/thistotalAllProd*100;
                                            returnrateOut = returnrateOut/thistotalAllreturns *100;
                                            document.getElementById("daysales").innerHTML = daysales.toFixed(2);
                                            document.getElementById("dayreturns").innerHTML = dayreturns;
                                            document.getElementById("daynet").innerHTML = daynet.toFixed(2);
                                            document.getElementById("dayretrate").innerHTML = dayretrate.toFixed(2);
                                            document.getElementById("addRecords").innerHTML += "<tr class='remove'><td>"+productref+"</td><td>"+finalsales+"</td><td>"+finalreturn+"</td><td>"+netsalesOut.toFixed(2)+"</td><td>"+percentotOut.toFixed(2)+"%"+"</td><td>"+returnrateOut.toFixed(2)+"%"+"</td></tr> "
                                        }
                                        
                                        }
                                    
                                }
                            </script>
                            <tfoot>
                                <tr style="background-color: #F98C40; color: white">
                                    <th></th>
                                    <th id="daysales"></th>
                                    <th id="dayreturns"></th>
                                    <th id="daynet"></th>
                                    <th id="dayperctot">100.00 %</th>
                                    <th id="dayretrate"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                {{!-- END OF SALES RECORDS --}}      

                    </div>
                    {{!-- END OF TAB CONTENT --}}

                 </div>

            </div>

            <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Products</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th >Price </th>
                            <th style="width: 10%;"><span> </span></th>
                        </tr>
                    </thead>
            
                    <tbody>
                         {{#each plist}}
                         <form action="" method="POST"> 
                             {{!-- add POOrder post link later --}}
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{name}} </td>
                                <td><input required type="number"  pattern="[0-9]{0}[0-9]+" name="quantity" id="" class="form-control w-60" width="2" min="1"></td>
                                <td>{{sellingprice}}</td>
                                <input type="hidden" name="productName" value="{{name}}">
                                <input type="hidden" name="price" value="{{sellingprice}}">
                                <td style="width: 2%;">
                                    <button class="btn btn-primary btn-sm" type="submit">Add</button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
    </div>  
    {{!-- End of Modal --}}
            
    <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("posHistoryTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function sortTable2(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("archivedPosHistoryTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("posHistoryTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

        function filter2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter2");
        filter = input.value.toUpperCase();
        table = document.getElementById("archivedPosHistoryTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

        function filter3() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter3");
        filter = input.value.toUpperCase();
        table = document.getElementById("srTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }
    </script>
