            <script>
                function trytab(){
                    var bufferBO= document.getElementById('checkthis').value;
                    if(bufferBO == 'true'){
                        document.getElementById('create').click();
                    }

                    var utype = document.getElementById('utype').value;
                    
                    if(utype == "Branch Manager"){
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                        if(document.getElementById('prodordcount').value > 0){
                           // document.getElementById('add').disabled = true;
                        }
                        
                    }

                }
                window.onload = trytab;


                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    localStorage.setItem('activeTab', $(e.target).attr('href'));
                });
                var activeTab = localStorage.getItem('activeTab');
                if(activeTab){
                    $('#myTab a[href="' + activeTab + '"]').tab('show');
                }

                    function checkCount(){
                    var x = document.getElementsByClassName('middaybasis');//midDaySales
                    var y = document.getElementsByClassName('boton');
                    var z = document.getElementsByClassName('enddaybasis');//totsales
                    var z2 = document.getElementsByClassName('enddaybasis2');//midDaySales
                    var w = document.getElementsByClassName('boton2');
                    var save = document.getElementsByClassName('save');
                    for(var i = 0; i < x.length ; i++){
                        
                        var check2 = z[i].value;
                        var check2a = z2[i].value;
                        if(check2==0 && check2a > 0){
                            w[i].disabled=false;
                            w[i].classList.add("form-control");
                        }else{
                            w[i].classList.add("form-control");
                        }
                        var check = x[i].value;
                        if(check ==0){
                            y[i].disabled = false;
                            y[i].classList.add("form-control");
                            //w[i].disabled =true;
                        }else{
                            y[i].classList.add("form-control");
                            w[i].classList.add("form-control")
                        }
                    }
                    var branch = document.getElementById('whichbranch').value;
                    var select = document.getElementById('branch');
                    var option;
                    var i;
                    for(i = 0; i< select.options.length ; i++){
                        option = select.options[i];
                        if(option.value == branch){
                            option.setAttribute('selected',true);
                        }
                    }

                    var user = document.getElementById('usertype').value;

                    if(user == "Branch Manager"){
                        document.getElementById('prev').parentNode.removeChild(document.getElementById('prev'))
                        document.getElementById('next').parentNode.removeChild(document.getElementById('next'))
                        var branch = document.getElementById('whichbranch').value;
                        var select =  document.getElementById('branch'); select.disabled=true;
                        var option;
                        for(i = 0; i< select.options.length ; i++){
                            option = select.options[i];
                            if(option.value == branch){
                                option.setAttribute('selected',true);
                            }
                        }
                    }

                    if(document.getElementById('realdate').value == document.getElementById('currdate').value){
                        document.getElementById('today').parentNode.removeChild(document.getElementById('today'));
                    }
                }
                window.onload = checkCount;

            </script>

            {{!-- <input type="hidden" id="checkthis" name="buffer" value="{{check}}"> --}}
            <input type="hidden" id="utype" name="utype" value="{{utype}}">
            <input type="hidden" id="whichbranch" name="whichbranch" value="{{whichbranch}}">

            <div class="container-fluid" style="padding-bottom: 50px;">

                 <div class="card">

                    <div class="card-header">

                         <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" id="create" data-toggle="tab" href="#pos">Point of Sale</a>
                            </li>

                            <li class="nav-item" >
                            <a class="nav-link" id="history" data-toggle="tab" href="#poshistory" >POS History</a>
                            </li>

                            <li class="nav-item" >
                            <a class="nav-link" id="records" data-toggle="tab" href="#salesrecords" >Sales Records</a>
                            </li>


                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#archived">Archive</a>
                            </li>

                        </ul>

                    </div>

                    {{!-- TAB CONTENT --}}
                    <div class="tab-content">
                    
                    {{!-- POS --}}
                    <div class="container tab-pane active" id="pos" style="padding-top: 30px; max-width:fit-content;">       
                    <div class="row">
                        <div class="col" id="regform2" style="max-width: 490px;">
                            {{!-- <h3 class="regheader">Product</h3>
                            <p id="errormsg" style="color: red;"></p> --}}
                        <form  action="/addPos" method="POST" > <!--ADDING PRODUCTS// -->

                        <div class="table-responsive table mt-2" id="poslist"> <!--IDK HOW TO MAKE DYNAMIC ROWS OF FORMS WORK FOR DB-->
                        <div class="col" id="contents">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr class="tr-addposproducts">
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th><span></span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each bufferBO}}
                                        <tr>
                                            <td>{{product}} </td>
                                            <td>{{quantity}} </td>
                                            <td>{{rate}} </td>
                                            <td>{{amount}} </td> 
                                            <td style="max-width:50px;">
                                                <input type="hidden" name="BOid" value="{{this._id}}">
                                                <button class="btn btn-primary btn-sm" formaction="/deletebufferBO" formmethod="POST" type="submit">Delete</button>
                                            </td>                          
                                        </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                             
                            </table>

                            {{!-- Add button --}}
                            {{!-- <div class="row">
                                <div class="col" style="margin-left: 20px; margin-top: 10px">
                                    <button id="add" class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal">Add Item</button>
                                </div>
                            </div> --}}

                            <div class="row" style="margin-top: 2rem; justify-content: center;">
                                
                            </div>
                        </div>
                    </div>

                    {{!-- RECEIPT --}}
                    <div class="row" style="margin-top: 200px">
                    <div class="col">
                    <div class="jumbotron jumbotron-fluid" id="receipt" style="max-width: 442.7px;">
                    <div class="container">
                        <div class="row">
                         <div class="col">
                             <p>Subtotal</p>
                             <p>Tax</p>
                              <p>Discount</p>
                             <p><b>Total</b> </p>
                             <p>Amount Paid </p>
                              <p><b>Change</b> </p>
                        </div>
                            {{!-- Change to handlebars later --}}
                            <div class="col" style="padding-left: 11.3em;">
                             <p>0.00</p> 
                             <p>0.00</p>
                             <p>0.00</p>
                             <p><b>0.00</b> </p>
                             <p>0.00 </p>
                            <p><b>0.00</b> </p>
                         </div>
                         </div>
           
                    </div>
                    </div>
                    </div>
                    </div>
                    {{!-- END OF RECEIPT --}}
                    
                    {{!-- BUTTONS --}}
                     <div class="row" id="poscheckout" style="justify-content: center; max-width:fit-content;" >
                        <div class="col">

                            <div class="row-lg-12" style="width:500px;">
                                <button class="btn btn-primary btn-lg" id="clear" type="submit">Clear</button>
                                <button class="btn btn-primary btn-lg" id="cash" type="submit" style="margin-left: 10px">Cash</button>
                                <button class="btn btn-primary btn-lg" id="discount" type="submit" style="margin-left: 10px">Discount</button>
                                <button class="btn btn-primary btn-lg" id="checkout" type="submit" style="margin-left: 10px">Checkout</button>
                            </div>
                           
                               
                        </div>
                     </div>
                     {{!-- END OF BUTTONS --}}
    
                    </div>
                        <div class="col-md-6" id="prof-pic-card" style="margin-top: 20%;"> 
                                <div class="up_profpic">
                                 <label><h3>Add to Cart</h3></label>
                                <div style="width:400px;">
                                <button class="btn btn-primary btn-md" id="clear" type="submit">Jack Cakes</button>
                                <button class="btn btn-primary btn-md" id="cash" type="submit" style="margin-left: 10px">Jimmy Breads</button>
                                <button class="btn btn-primary btn-md" id="discount" type="submit" style="margin-left: 10px">Mong Breads</button>
                            </div>

                                    <div class="mb-3" style="margin-top: 1.5rem;">
                                       
                                    </div>
                                </div> 
                        </div>

                    </div>

                    <br>
                    
                    <div class="row" style="margin-top: 2rem;">
                     
                    </div> 
                    {{!-- END OF ADD CANCEL --}} 
                </form>

            </div>
            {{!-- END OF POS --}} 

             {{!-- POS HISTORY --}}
                    <div class="container tab-pane fade" id="poshistory" style="padding-top: 30px;">
                        {{!-- FILTER TABLE --}}
                                <div class="dataTables_filter" id="dataTable_filter"> Date: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter" onkeyup="filter()" placeholder="All"></label>
                                </div>
                        {{!-- END FILTER --}}
                            <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">
                            <table class="table" id="posHistoryTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable(0)">Transaction ID <i class="fa fa-sort"></i></th>               
                                        <th onclick="sortTable(1)">Sales <i class="fa fa-sort"></i></th>
                                        <th onclick="sortTable(2)">Staff Name <i class="fa fa-sort"> </i></th>
                                        <th onclick="sortTable(3)">Time of Transaction <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- {{#each todayprodorders}} --}}
                                    {{!-- <tr class="clickable" onclick='window.location="/productionorder/view/{{this._id}}"'> --}}
                                    <tr class="clickable">
                                        <td>TID</td>
                                        <td>sales</td>
                                        <td>staff name</td>
                                        <td>time</td>
                                    </tr>
                                    {{!-- {{/each}} --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- END OF ALL PRODUCTION ORDERS --}}

                    {{!-- ARCHIVED --}}
                    <div class="container tab-pane fade" id="archived" style="padding-top: 30px;">
                        {{!-- FILTER TABLE --}}
                                <div class="dataTables_filter" id="dataTable_filter">Date: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter2" onkeyup="filter2()" placeholder="All"></label>
                                </div>
                        {{!-- END FILTER --}}
                            <div style="padding-bottom: 10px;"> </div>
                        <div class="table-responsive">
                            <table class="table" id="archivedPosHistoryTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable2(0)">Transaction ID  <i class="fa fa-sort"></i></th>               
                                        <th onclick="sortTable2(1)">Sales  <i class="fa fa-sort"></i></th>
                                        <th>Staff Name </i></th>
                                        <th onclick="sortTable2(3)">Time of Transaction <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- {{#each productionorders}} --}}
                                    {{!-- <tr class="clickable" onclick='window.location="/productionorder/view/{{this._id}}"'> --}}
                                    <tr class="clickable">
                                        <td>Archived TID</td>
                                        <td>Archived Sales</td>
                                        <td>Archived staff name</td>
                                        <td>Archived Time of Transaction</td>
                                    </tr>
                                    {{!-- {{/each}} --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- END OF ARCHIVED --}}      

                {{!-- SALES RECORDS --}}
                <div class="container tab-pane fade" id="salesrecords" style="padding-top: 30px;">
                         <div class="card-header">
                         <div class="row">

                           {{!-- FILTER TABLE --}}
                               <div style="text-align:center" class="col">
                                <div class="dataTables_filter" id="dataTable_filter">Product Group: <label> 
                                    <input type="text" class="form-control form-control-sm" 
                                        id="filter3" onkeyup="filter3()" placeholder="All"></label>
                                </div>
                                </div>
                        {{!-- END FILTER --}}
                     
                            <div style="text-align:center" class="col">
                                <form>
                                    <h4 >{{today}}</h4>
                                    <input type="hidden" name="currdate" id="currdate" value="{{today}}">
                                    <input type="hidden" name="realdate" id="realdate" value="{{realtoday}}">
                                    <button id="prev" class="btn btn-primary btn-sm" formaction="/prevday" formmethod="POST" type="submit"><i class="fas fa-arrow-left"></i> Previous</button>
                                    <button id="next" class="btn btn-primary btn-sm" formaction="/nextday" formmethod="POST" type="submit">Next Day <i class="fas fa-arrow-right"></i></button>
                                    <br><br>
                                    <button id="today" class="btn btn-primary btn-sm" formaction="/today" formmethod="POST" type="submit"><i class=""></i> Back to Today ({{realtoday}})</button>
                                </form>
                                
                            </div>

                            <div style="text-align:center" class="col">
                                <div class="dataTables_filter" id="dataTable_filter">
                                        {{!-- Date 
                                        <label for="a">Date</label>
                                            <input type="date" name="thisdate" id="thisdate" class="form-control">--}}
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="table-responsive">
                        <table class="table" id="srTable">
                            <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Item  <i class="fa fa-sort"></i></th>
                                    <th onclick="sortTable(1)">Product Group  <i class="fa fa-sort"></i></th>
                                    <th>Sales</th>
                                     <th>Returns</th>
                                      <th>Net Sales</th>
                                       <th>% of Total</th>
                                        <th>Return Rate</th>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{!-- {{>productTableDelete}} --}}
                                <tr class="clickable">
                                        <td>Sample</td>
                                        <td>Sample</td>
                                        <td>Sample</td>
                                        <td>Sample</td>
                                        <td>Sample</td>
                                        <td>Sample</td>
                                        <td>Sample</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="background-color: #F98C40; color: white">
                                <th>Footer 1</th>
                                <th>Footer 2</th>
                                <th>Footer 3</th>
                                <th>Footer 4</th>
                                <th>Footer 5</th>
                                <th>Footer 6</th>
                                <th>Footer 7</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                {{!-- END OF SALES RECORDS --}}      

                    </div>
                    {{!-- END OF TAB CONTENT --}}

                 </div>

            </div>

            <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Products</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr class="tr-addproducts">
                            <th>Name </th>
                            <th style="width: 25%;">Quantity </th>
                            <th >Price </th>
                            <th style="width: 10%;"><span> </span></th>
                        </tr>
                    </thead>
            
                    <tbody>
                         {{#each plist}}
                         <form action="" method="POST"> 
                             {{!-- add POOrder post link later --}}
                            <tr class="clickable" >
                                <td><img class="mini-pic-list" src="../../assets/img/icons/box-2.png"> {{name}} </td>
                                <td><input required type="number"  pattern="[0-9]{0}[0-9]+" name="quantity" id="" class="form-control w-60" width="2" min="1"></td>
                                <td>{{sellingprice}}</td>
                                <input type="hidden" name="productName" value="{{name}}">
                                <input type="hidden" name="price" value="{{sellingprice}}">
                                <td style="width: 2%;">
                                    <button class="btn btn-primary btn-sm" type="submit">Add</button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
    </div>  
    {{!-- End of Modal --}}
            
    <script>
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("posHistoryTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function sortTable2(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("archivedPosHistoryTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("posHistoryTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

        function filter2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter2");
        filter = input.value.toUpperCase();
        table = document.getElementById("archivedPosHistoryTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

        function filter3() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter3");
        filter = input.value.toUpperCase();
        table = document.getElementById("srTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }
    </script>