            <div class="container-fluid" style="padding-bottom: 70px;">
                <h3 class="text-dark mb-4">Supplier</h3>
                {{> messages}}

                {{!-- Nav Tabs --}}
                <div class="card">
                    <div class="card-header">
                        {{!-- <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item btn"><a id="tab" class="nav-link active"  onclick="opentab('users')">Users</a></li>
                            <li class="nav-item btn"><a id="tab" class="nav-link"  onclick="opentab('reguser')">Register User</a></li>
                            <li class="nav-item"></li>
                        </ul> --}}

                            <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#supplier">Suppliers</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#regsupplier">Add Supplier</a>
                            </li>

                            </ul>
                    </div>
                    
                    {{!-- Tab panes --}}

                      <div class="tab-content">
                        {{!-- ALL USERS --}}
                        <div id="supplier" class="container tab-pane active"><br>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="supTable">
                                <thead>
                                    <tr>
                                        <th onclick="sortTable(0)">Name <i class="fa fa-fw fa-sort"></i></th>
                                        <th onclick="sortTable(1)">Company <i class="fa fa-fw fa-sort"></i></th>
                                        <th>Mobile Number</th>
                                        <th onclick="sortTable(3)">Email <i class="fa fa-fw fa-sort"></i></th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    {{#each suppliers}}
                                    <form method="POST" action="/supplierDelete">
                                    <tr class="clickable" onclick='window.location="/supplier/view/{{this._id}}"'>
                                        <input type="hidden" name="supplierID" value="{{this._id}}">
                                        <td><img class="mini-pic-list" src="../../assets/img/icons/guest.jpg">{{first_name}} {{last_name}}</td>
                                        <td> {{company}}</td>
                                        <td> {{mobileno}}</td>
                                        <td>{{email}}</td>
                                        <td><button id="delete" class="btn btn-primary btn-sm" type="submit">Delete</button></td>
                                    </tr>
                                    </form>
                                    {{/each}}
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    {{!-- END OF ALL SUPPLIER --}}

                    {{!-- ADD SUPPLIER --}}
                    <div id="regsupplier" class="container tab-pane fade"><br>
                         <h3 class="text-dark mb-4">Add Supplier</h3>
                        <div class="row">

                            <div class="col" id="regform2">
                                <h3 class="regheader">Supplier Information</h3>
                                <p id="errormsg" style="color: red;"></p>
                                <div class="row">
                                    {{!-- First Column --}}
                                    <div class="col">
                                        {{!-- Start form --}}
                                        <form method="POST" action="/supplierRegister">
                                            <div class="form-group">
                                                {{!-- First Name --}}
                                                <label>First Name</label>
                                                <input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control" pattern="^[A-Za-z]+$" minlength="2" maxlength="15" required><br>
                                                {{!-- Last Name --}}
                                                 <label>Last Name</label>
                                                <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control" pattern="^[A-Za-z]+$" minlength="2" maxlength="15" required><br>
                                               
                                                {{!-- Company --}}
                                                <label>Company</label>
                                                <input id="company" name="company" type="text" placeholder="Company" class="form-control" minlength="3" required><br>

                                            </div>
                                    </div>
                                    {{!-- Second Column --}}
                                    <div class="col">
                                            <div class="form-group">
                                                {{!-- Email --}}
                                                <label>Email</label>
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Email"><br> {{! Not Required}}
                                                {{!-- Mobile Number --}}
                                                <label>Mobile Number</label>
                                                <input id="mobileno" name= "mobileno" type="tel" class="form-control"  placeholder="09 _ _ _ _ _ _ _ _ _" pattern="[0]{1}[9]{1}[0-9]{9}" 
                                                 maxlength="11"><br> {{! Not Required}}
                                            </div>
                                    </div>
                                  </div>
                            </div>
                            
                        </div>

                          {{!-- SUBMIT CANCEL --}}
                                <div class="row" style="margin-top: 2rem;">
                                    <div class="col-md-6">
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                 
                                                <a href="/supplier" type="button" class="btn btn-secondary btn-sm">Cancel</a>
                                        
                                             <button class="btn btn-primary btn-sm" type="submit">Add</button>
                                        </div>
                                    </div>
                                </div>   
                                  {{!-- END OF SUBMIT CANCEL --}}
                    </form>
                          
                    </div>
                    {{!-- END OF REGSUPPLIER --}}

                       
                    </div>
                    {{!-- END TAB CONTENT --}}
                   
                <div class="card-body"></div>
                </div>
                <div class="card shadow"></div>
            </div>
            <br><br>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">

            function forceKeyPressUppercase(e){
                var charInput = e.keyCode;
                if((charInput >= 97) && (charInput <= 122)) { // lowercase
                if(!e.ctrlKey && !e.metaKey && !e.altKey) { // no modifier key
                var newChar = charInput - 32;
                var start = e.target.selectionStart;
                var end = e.target.selectionEnd;
                e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
                e.target.setSelectionRange(start+1, start+1);
                 e.preventDefault();
                }
                }   
            };
            
           document.getElementById("first_name").addEventListener("keypress", function(e) {
            if(this.selectionStart == 0) {
            // uppercase first letter
            forceKeyPressUppercase(e);
            } else {
            // lowercase other letters
            forceKeyPressLowercase(e);
            }
            }, false);

            document.getElementById("last_name").addEventListener("keypress", function(e) {
            if(this.selectionStart == 0) {
            // uppercase first letter
            forceKeyPressUppercase(e);
            } else {
            // lowercase other letters
            forceKeyPressLowercase(e);
            }
            }, false);

             $(function () {

                     $("#mobileno").on("keypress keyup blur",function (event) {    
                        $('#mobileno').val();
                        if ((event.which < 48 || event.which > 57)) {
                        event.preventDefault();
                        }
                    }); 
            });

        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("supTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }

        function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("POsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }

        </script>

